openapi: "3.1.0"
info:
  title: "La Pyme API"
  description: "Resources and workflows for purchases, sales, inventory, contacts, products, reports, and settings."
  version: "1.0.0"
  contact:
    name: "La Pyme Support"
    email: "hola@lapyme.com.ar"
  license:
    name: "Proprietary"
    url: "https://lapyme.com.ar/terminos"
servers:
  - url: "https://api.lapyme.com.ar"
    description: "Servidor de producción"
security:
  - bearerAuth: []
tags:
  - name: "API"
    description: "Public API operations for La Pyme integrations."
x-speakeasy-retries:
  strategy: "backoff"
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
    - "5XX"
  retryConnectionErrors: true
components:
  schemas:
    ApiErrorDetail:
      type: "object"
      properties:
        field:
          type: "string"
        code:
          type: "string"
        message:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiErrorEnvelope:
      type: "object"
      properties:
        request_id:
          type: "string"
        error:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "api_error"
                - "authentication_error"
                - "authorization_error"
                - "business_error"
                - "external_dependency_error"
                - "idempotency_error"
                - "invalid_request_error"
                - "rate_limit_error"
            code:
              type: "string"
            message:
              type: "string"
            retryable:
              type: "boolean"
            details:
              type: "array"
              items:
                $ref: "#/components/schemas/ApiSharedObjectc671832641"
          required:
            - "type"
            - "code"
            - "message"
            - "retryable"
            - "details"
          additionalProperties: false
      required:
        - "request_id"
        - "error"
      additionalProperties: false
    ApiListMetadata:
      type: "object"
      properties:
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "has_more"
        - "next_cursor"
      additionalProperties: false
    ApiSupplier:
      type: "object"
      properties:
        object:
          type: "string"
          const: "supplier"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - type: "string"
            - type: "null"
        tax_category:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        is_active:
          anyOf:
            - type: "boolean"
            - type: "null"
      required:
        - "object"
        - "id"
        - "name"
        - "company_name"
        - "description"
        - "email"
        - "phone"
        - "tax_id"
        - "tax_id_type"
        - "tax_category"
        - "payment_term_id"
        - "is_active"
      additionalProperties: false
    ApiSupplierDetail:
      type: "object"
      properties:
        object:
          type: "string"
          const: "supplier"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - type: "string"
            - type: "null"
        tax_category:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        is_active:
          anyOf:
            - type: "boolean"
            - type: "null"
        country:
          anyOf:
            - type: "string"
            - type: "null"
        province_id:
          anyOf:
            - type: "string"
            - type: "null"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "object"
        - "id"
        - "name"
        - "company_name"
        - "description"
        - "email"
        - "phone"
        - "tax_id"
        - "tax_id_type"
        - "tax_category"
        - "payment_term_id"
        - "is_active"
        - "country"
        - "province_id"
        - "city"
        - "address"
        - "apartment"
        - "postal_code"
        - "created_at"
        - "updated_at"
      additionalProperties: false
    ApiSupplierMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
              format: "email"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum250b15b651"
            - type: "null"
        tax_category:
          $ref: "#/components/schemas/ApiSharedEnumbb2864ecea"
        country:
          type: "string"
        province:
          type: "string"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        is_active:
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiSupplierUpdateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
              format: "email"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum250b15b651"
            - type: "null"
        tax_category:
          $ref: "#/components/schemas/ApiSharedEnumbb2864ecea"
        country:
          type: "string"
        province:
          type: "string"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        is_active:
          type: "boolean"
      additionalProperties: false
    ApiSupplierCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            supplier:
              $ref: "#/components/schemas/ApiSharedObjectac822ca2fd"
            idempotent_replay:
              type: "boolean"
          required:
            - "supplier"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiSupplierUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            supplier:
              $ref: "#/components/schemas/ApiSharedObjectac822ca2fd"
          required:
            - "supplier"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiCategory:
      type: "object"
      properties:
        object:
          type: "string"
          const: "category"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_economic_activity:
          anyOf:
            - type: "string"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "object"
        - "id"
        - "name"
        - "parent_id"
        - "default_economic_activity"
        - "created_at"
        - "updated_at"
      additionalProperties: false
    ApiCategoryMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_economic_activity:
          anyOf:
            - type: "string"
              pattern: "^\\d{6}$"
            - type: "null"
      required:
        - "name"
      additionalProperties: false
    ApiCategoryCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            category:
              $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
            idempotent_replay:
              type: "boolean"
          required:
            - "category"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiCategoryUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            category:
              $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
          required:
            - "category"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiWarehouse:
      type: "object"
      properties:
        object:
          type: "string"
          const: "warehouse"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
        is_active:
          type: "boolean"
        points_of_sale_count:
          type: "integer"
          minimum: 0
        member_count:
          type: "integer"
          minimum: 0
        register_count:
          type: "integer"
          minimum: 0
      required:
        - "object"
        - "id"
        - "name"
        - "address"
        - "is_default"
        - "is_active"
        - "points_of_sale_count"
        - "member_count"
        - "register_count"
      additionalProperties: false
    ApiWarehouseDetail:
      type: "object"
      properties:
        object:
          type: "string"
          const: "warehouse"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
        is_active:
          type: "boolean"
      required:
        - "object"
        - "id"
        - "name"
        - "address"
        - "is_default"
        - "is_active"
      additionalProperties: false
    ApiWarehouseMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          default: false
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiWarehouseUpdateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiWarehouseCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            warehouse:
              $ref: "#/components/schemas/ApiSharedObjectadcf6da6ce"
            idempotent_replay:
              type: "boolean"
          required:
            - "warehouse"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiWarehouseUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            warehouse:
              $ref: "#/components/schemas/ApiSharedObjectadcf6da6ce"
          required:
            - "warehouse"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPurchaseIssue:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        field:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiPurchaseNormalizedLine:
      type: "object"
      properties:
        product_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        product_name:
          anyOf:
            - type: "string"
            - type: "null"
        sku:
          anyOf:
            - type: "string"
            - type: "null"
        name:
          anyOf:
            - type: "string"
            - type: "null"
        quantity:
          type: "number"
          exclusiveMinimum: 0
        unit_cost:
          type: "integer"
          minimum: 0
        subtotal:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        total:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_rate_id:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        is_exempt:
          type: "boolean"
        discount_percentage:
          anyOf:
            - type: "number"
              minimum: 0
              maximum: 100
            - type: "null"
        purchase_order_item_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        vat_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
            - type: "null"
      required:
        - "product_id"
        - "product_name"
        - "sku"
        - "name"
        - "quantity"
        - "unit_cost"
        - "subtotal"
        - "total"
        - "tax_rate_id"
        - "is_exempt"
        - "discount_percentage"
        - "purchase_order_item_id"
        - "vat_category"
      additionalProperties: false
    ApiPurchaseNormalizedSnapshot:
      type: "object"
      properties:
        supplier_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        voucher_type:
          type: "integer"
          minimum: 1
        supplier_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
        invoice_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha del comprobante en formato YYYY-MM-DD."
        account_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
        due_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
        payment_term_id:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
            - type: "null"
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          description: "ID de la factura comercial asociada al despacho aduanero."
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        products_received:
          type: "boolean"
        update_product_variant_cost:
          type: "boolean"
        currency:
          $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        subtotal:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        total:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        discount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        exempt_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        non_taxed_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        base_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        vat_perception_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        national_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        gross_income_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        municipal_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        internal_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        other_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        pdf_path:
          anyOf:
            - type: "string"
            - type: "null"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectedd0c22535"
      required:
        - "supplier_id"
        - "voucher_type"
        - "supplier_invoice_number"
        - "invoice_date"
        - "account_date"
        - "due_date"
        - "payment_term_id"
        - "import_document_role"
        - "import_source_purchase_id"
        - "import_nationalization_status"
        - "customs_dispatch_number"
        - "warehouse_id"
        - "products_received"
        - "update_product_variant_cost"
        - "currency"
        - "exchange_rate"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "discount"
        - "exempt_amount"
        - "non_taxed_amount"
        - "base_amount"
        - "vat_perception_amount"
        - "national_tax_amount"
        - "gross_income_tax_amount"
        - "municipal_tax_amount"
        - "internal_tax_amount"
        - "other_tax_amount"
        - "notes"
        - "pdf_path"
        - "items"
      additionalProperties: false
    ApiPurchaseProjectedEffects:
      type: "object"
      properties:
        inventory:
          $ref: "#/components/schemas/ApiSharedObjectdafaa4a9ee"
        accounting:
          $ref: "#/components/schemas/ApiSharedObject3c43192c61"
      required:
        - "inventory"
        - "accounting"
      additionalProperties: false
    ApiPurchaseCommitResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            purchase_id:
              type: "string"
              format: "uuid"
            receipt_created:
              type: "boolean"
            idempotent_replay:
              type: "boolean"
            normalized_purchase:
              type: "object"
              properties:
                supplier_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                voucher_type:
                  type: "integer"
                  minimum: 1
                supplier_invoice_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
                invoice_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha del comprobante en formato YYYY-MM-DD."
                account_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha contable de la compra en formato YYYY-MM-DD."
                due_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha de vencimiento en formato YYYY-MM-DD."
                payment_term_id:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
                    - type: "null"
                import_document_role:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
                    - type: "null"
                  description: "Rol del comprobante dentro del flujo de importacion."
                import_source_purchase_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                  description: "ID de la factura comercial asociada al despacho aduanero."
                import_nationalization_status:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
                    - type: "null"
                  description: "Estado de nacionalizacion de la factura comercial de importacion."
                customs_dispatch_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
                warehouse_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                products_received:
                  type: "boolean"
                update_product_variant_cost:
                  type: "boolean"
                currency:
                  $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
                exchange_rate:
                  type: "number"
                  exclusiveMinimum: 0
                subtotal:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                total:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                discount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                exempt_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                non_taxed_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                base_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                vat_perception_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                national_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                gross_income_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                municipal_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                internal_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                other_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                notes:
                  anyOf:
                    - type: "string"
                    - type: "null"
                pdf_path:
                  anyOf:
                    - type: "string"
                    - type: "null"
                items:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObjectedd0c22535"
              required:
                - "supplier_id"
                - "voucher_type"
                - "supplier_invoice_number"
                - "invoice_date"
                - "account_date"
                - "due_date"
                - "payment_term_id"
                - "import_document_role"
                - "import_source_purchase_id"
                - "import_nationalization_status"
                - "customs_dispatch_number"
                - "warehouse_id"
                - "products_received"
                - "update_product_variant_cost"
                - "currency"
                - "exchange_rate"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "discount"
                - "exempt_amount"
                - "non_taxed_amount"
                - "base_amount"
                - "vat_perception_amount"
                - "national_tax_amount"
                - "gross_income_tax_amount"
                - "municipal_tax_amount"
                - "internal_tax_amount"
                - "other_tax_amount"
                - "notes"
                - "pdf_path"
                - "items"
              additionalProperties: false
            projected_effects:
              type: "object"
              properties:
                inventory:
                  $ref: "#/components/schemas/ApiSharedObjectdafaa4a9ee"
                accounting:
                  $ref: "#/components/schemas/ApiSharedObject3c43192c61"
              required:
                - "inventory"
                - "accounting"
              additionalProperties: false
          required:
            - "purchase_id"
            - "receipt_created"
            - "idempotent_replay"
            - "normalized_purchase"
            - "projected_effects"
          additionalProperties: false
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectc671832641"
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPurchaseTransactionRequest:
      type: "object"
      properties:
        supplier_id:
          type: "string"
          format: "uuid"
        voucher_type:
          type: "integer"
          minimum: 1
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          description: "ID de la factura comercial asociada al despacho aduanero."
          type: "string"
          format: "uuid"
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
          type: "string"
        supplier_invoice_number:
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
          type: "string"
        invoice_date:
          description: "Fecha del comprobante en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        account_date:
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        due_date:
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        payment_term_id:
          anyOf:
            - anyOf:
                - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
                - type: "null"
            - type: "null"
        vat_perception_amount:
          type: "integer"
          minimum: 0
        national_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_tax_amount:
          type: "integer"
          minimum: 0
        internal_tax_amount:
          type: "integer"
          minimum: 0
        other_tax_amount:
          type: "integer"
          minimum: 0
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        products_received:
          type: "boolean"
        update_product_variant_cost:
          type: "boolean"
        items:
          type: "array"
          items:
            type: "object"
            properties:
              product_id:
                type: "string"
                format: "uuid"
              name:
                type: "string"
              quantity:
                type: "number"
                exclusiveMinimum: 0
              unit_cost:
                type: "integer"
                minimum: 0
              subtotal:
                type: "integer"
                minimum: 0
              total:
                type: "integer"
                minimum: 0
              tax_rate_id:
                type: "integer"
                minimum: 0
              is_exempt:
                type: "boolean"
              discount_percentage:
                type: "number"
                minimum: 0
                maximum: 100
              purchase_order_item_id:
                type: "string"
                format: "uuid"
              vat_category:
                anyOf:
                  - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
                  - type: "null"
            required:
              - "quantity"
              - "unit_cost"
            additionalProperties: false
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        discount:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        base_amount:
          type: "integer"
          minimum: 0
        vat_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectfb7405a472"
        notes:
          type: "string"
        currency:
          $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        pdf_path:
          type: "string"
        vat_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
            - type: "null"
        status:
          type: "string"
          enum:
            - "draft"
            - "confirmed"
      required:
        - "voucher_type"
        - "currency"
      additionalProperties: false
    ApiPurchaseTransactionSuccessResponse:
      $ref: "#/components/schemas/ApiPurchaseCommitResponse"
    ApiSaleIssue:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        field:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiSaleNormalizedPayment:
      type: "object"
      properties:
        method_id:
          type: "string"
          format: "uuid"
        amount:
          type: "integer"
          exclusiveMinimum: 0
        description:
          anyOf:
            - type: "string"
            - type: "null"
        reference:
          anyOf:
            - type: "string"
            - type: "null"
        fee_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        terminal_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        card_batch_number:
          anyOf:
            - type: "string"
            - type: "null"
        card_coupon_number:
          anyOf:
            - type: "string"
            - type: "null"
        card_installment_plan_code:
          anyOf:
            - type: "string"
            - type: "null"
        card_brand:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "method_id"
        - "amount"
        - "description"
        - "reference"
        - "fee_amount"
        - "terminal_id"
        - "card_batch_number"
        - "card_coupon_number"
        - "card_installment_plan_code"
        - "card_brand"
      additionalProperties: false
    ApiSaleNormalizedLine:
      type: "object"
      properties:
        product_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        product_name:
          anyOf:
            - type: "string"
            - type: "null"
        sku:
          anyOf:
            - type: "string"
            - type: "null"
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        name:
          anyOf:
            - type: "string"
            - type: "null"
        product_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumff49232140"
            - type: "null"
        quantity:
          type: "number"
          exclusiveMinimum: 0
        unit_price:
          type: "integer"
          minimum: 0
        unit_cost:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_rate_id:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        is_exempt:
          type: "boolean"
        discount:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObject16c3799d74"
            - type: "null"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center1_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center2_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center3_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
      required:
        - "product_id"
        - "product_name"
        - "sku"
        - "warehouse_id"
        - "name"
        - "product_type"
        - "quantity"
        - "unit_price"
        - "unit_cost"
        - "tax_rate_id"
        - "is_exempt"
        - "discount"
        - "notes"
        - "account_id"
        - "cost_center1_id"
        - "cost_center2_id"
        - "cost_center3_id"
      additionalProperties: false
    ApiSaleNormalizedSnapshot:
      type: "object"
      properties:
        customer_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        customer_tax_category_override:
          anyOf:
            - type: "string"
            - type: "null"
        voucher_type:
          type: "integer"
          minimum: 1
          maximum: 95
        point_of_sale_id:
          type: "string"
          format: "uuid"
        register_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        operator_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        service_from:
          anyOf:
            - type: "string"
              format: "date"
            - type: "null"
        service_to:
          anyOf:
            - type: "string"
              format: "date"
            - type: "null"
        currency:
          $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
        exchange_rate:
          anyOf:
            - type: "number"
              exclusiveMinimum: 0
            - type: "null"
        same_currency_payment:
          type: "boolean"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        tributes_amount:
          type: "integer"
          minimum: 0
        national_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_perception_amount:
          type: "integer"
          minimum: 0
        internal_tribute_amount:
          type: "integer"
          minimum: 0
        uncategorized_vat_perception_amount:
          type: "integer"
          minimum: 0
        other_tribute_amount:
          type: "integer"
          minimum: 0
        discount_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
            - type: "null"
        discount_value:
          anyOf:
            - type: "number"
              minimum: 0
            - type: "null"
        discount_amount:
          type: "integer"
          minimum: 0
        rounding_adjustment:
          type: "integer"
        balance:
          type: "number"
        is_full_amount_pending:
          type: "boolean"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjecte9e792772e"
        payment_methods:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject43ed7be04f"
      required:
        - "customer_id"
        - "customer_tax_category_override"
        - "voucher_type"
        - "point_of_sale_id"
        - "register_id"
        - "operator_id"
        - "invoice_date"
        - "due_date"
        - "service_from"
        - "service_to"
        - "currency"
        - "exchange_rate"
        - "same_currency_payment"
        - "notes"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "exempt_amount"
        - "non_taxed_amount"
        - "tributes_amount"
        - "national_perception_amount"
        - "gross_income_perception_amount"
        - "gross_income_tax_breakdown"
        - "municipal_perception_amount"
        - "internal_tribute_amount"
        - "uncategorized_vat_perception_amount"
        - "other_tribute_amount"
        - "discount_type"
        - "discount_value"
        - "discount_amount"
        - "rounding_adjustment"
        - "balance"
        - "is_full_amount_pending"
        - "items"
        - "payment_methods"
      additionalProperties: false
    ApiSaleProjectedEffects:
      type: "object"
      properties:
        inventory:
          $ref: "#/components/schemas/ApiSharedObject6a71e7888b"
        accounting:
          $ref: "#/components/schemas/ApiSharedObject9428e7100c"
        fiscal:
          $ref: "#/components/schemas/ApiSharedObject3563932f8e"
        payments:
          $ref: "#/components/schemas/ApiSharedObject8e516a9b19"
      required:
        - "inventory"
        - "accounting"
        - "fiscal"
        - "payments"
      additionalProperties: false
    ApiSalePersistedSnapshot:
      type: "object"
      properties:
        sale_id:
          type: "string"
          format: "uuid"
        customer_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        voucher_type:
          type: "string"
        point_of_sale_id:
          type: "string"
          format: "uuid"
        invoice_number:
          anyOf:
            - type: "integer"
            - type: "null"
        formatted_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
        invoice_status:
          $ref: "#/components/schemas/ApiSharedEnum9ac70a3316"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        currency:
          type: "string"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        tributes_amount:
          type: "integer"
          minimum: 0
        discount_amount:
          type: "integer"
        rounding_adjustment:
          type: "integer"
        balance:
          type: "number"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "sale_id"
        - "customer_id"
        - "voucher_type"
        - "point_of_sale_id"
        - "invoice_number"
        - "formatted_invoice_number"
        - "invoice_status"
        - "invoice_date"
        - "due_date"
        - "currency"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "exempt_amount"
        - "non_taxed_amount"
        - "tributes_amount"
        - "discount_amount"
        - "rounding_adjustment"
        - "balance"
        - "created_at"
      additionalProperties: false
    ApiSaleCommitResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            sale:
              type: "object"
              properties:
                sale_id:
                  type: "string"
                  format: "uuid"
                customer_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                voucher_type:
                  type: "string"
                point_of_sale_id:
                  type: "string"
                  format: "uuid"
                invoice_number:
                  anyOf:
                    - type: "integer"
                    - type: "null"
                formatted_invoice_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                invoice_status:
                  $ref: "#/components/schemas/ApiSharedEnum9ac70a3316"
                invoice_date:
                  type: "string"
                  format: "date"
                due_date:
                  type: "string"
                  format: "date"
                currency:
                  type: "string"
                subtotal:
                  type: "integer"
                  minimum: 0
                tax_amount:
                  type: "integer"
                  minimum: 0
                total:
                  type: "integer"
                  minimum: 0
                exempt_amount:
                  type: "integer"
                  minimum: 0
                non_taxed_amount:
                  type: "integer"
                  minimum: 0
                tributes_amount:
                  type: "integer"
                  minimum: 0
                discount_amount:
                  type: "integer"
                rounding_adjustment:
                  type: "integer"
                balance:
                  type: "number"
                created_at:
                  type: "string"
                  format: "date-time"
              required:
                - "sale_id"
                - "customer_id"
                - "voucher_type"
                - "point_of_sale_id"
                - "invoice_number"
                - "formatted_invoice_number"
                - "invoice_status"
                - "invoice_date"
                - "due_date"
                - "currency"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "exempt_amount"
                - "non_taxed_amount"
                - "tributes_amount"
                - "discount_amount"
                - "rounding_adjustment"
                - "balance"
                - "created_at"
              additionalProperties: false
            normalized_sale:
              type: "object"
              properties:
                customer_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                customer_tax_category_override:
                  anyOf:
                    - type: "string"
                    - type: "null"
                voucher_type:
                  type: "integer"
                  minimum: 1
                  maximum: 95
                point_of_sale_id:
                  type: "string"
                  format: "uuid"
                register_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                operator_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                invoice_date:
                  type: "string"
                  format: "date"
                due_date:
                  type: "string"
                  format: "date"
                service_from:
                  anyOf:
                    - type: "string"
                      format: "date"
                    - type: "null"
                service_to:
                  anyOf:
                    - type: "string"
                      format: "date"
                    - type: "null"
                currency:
                  $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
                exchange_rate:
                  anyOf:
                    - type: "number"
                      exclusiveMinimum: 0
                    - type: "null"
                same_currency_payment:
                  type: "boolean"
                notes:
                  anyOf:
                    - type: "string"
                    - type: "null"
                subtotal:
                  type: "integer"
                  minimum: 0
                tax_amount:
                  type: "integer"
                  minimum: 0
                total:
                  type: "integer"
                  minimum: 0
                exempt_amount:
                  type: "integer"
                  minimum: 0
                non_taxed_amount:
                  type: "integer"
                  minimum: 0
                tributes_amount:
                  type: "integer"
                  minimum: 0
                national_perception_amount:
                  type: "integer"
                  minimum: 0
                gross_income_perception_amount:
                  type: "integer"
                  minimum: 0
                gross_income_tax_breakdown:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObject95929ea589"
                municipal_perception_amount:
                  type: "integer"
                  minimum: 0
                internal_tribute_amount:
                  type: "integer"
                  minimum: 0
                uncategorized_vat_perception_amount:
                  type: "integer"
                  minimum: 0
                other_tribute_amount:
                  type: "integer"
                  minimum: 0
                discount_type:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
                    - type: "null"
                discount_value:
                  anyOf:
                    - type: "number"
                      minimum: 0
                    - type: "null"
                discount_amount:
                  type: "integer"
                  minimum: 0
                rounding_adjustment:
                  type: "integer"
                balance:
                  type: "number"
                is_full_amount_pending:
                  type: "boolean"
                items:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObjecte9e792772e"
                payment_methods:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObject43ed7be04f"
              required:
                - "customer_id"
                - "customer_tax_category_override"
                - "voucher_type"
                - "point_of_sale_id"
                - "register_id"
                - "operator_id"
                - "invoice_date"
                - "due_date"
                - "service_from"
                - "service_to"
                - "currency"
                - "exchange_rate"
                - "same_currency_payment"
                - "notes"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "exempt_amount"
                - "non_taxed_amount"
                - "tributes_amount"
                - "national_perception_amount"
                - "gross_income_perception_amount"
                - "gross_income_tax_breakdown"
                - "municipal_perception_amount"
                - "internal_tribute_amount"
                - "uncategorized_vat_perception_amount"
                - "other_tribute_amount"
                - "discount_type"
                - "discount_value"
                - "discount_amount"
                - "rounding_adjustment"
                - "balance"
                - "is_full_amount_pending"
                - "items"
                - "payment_methods"
              additionalProperties: false
            projected_effects:
              type: "object"
              properties:
                inventory:
                  $ref: "#/components/schemas/ApiSharedObject6a71e7888b"
                accounting:
                  $ref: "#/components/schemas/ApiSharedObject9428e7100c"
                fiscal:
                  $ref: "#/components/schemas/ApiSharedObject3563932f8e"
                payments:
                  $ref: "#/components/schemas/ApiSharedObject8e516a9b19"
              required:
                - "inventory"
                - "accounting"
                - "fiscal"
                - "payments"
              additionalProperties: false
            idempotent_replay:
              type: "boolean"
          required:
            - "sale"
            - "normalized_sale"
            - "projected_effects"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectc671832641"
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiSaleTransactionRequest:
      type: "object"
      properties:
        customer_id:
          type: "string"
          format: "uuid"
        customer_tax_category_override:
          type: "string"
        voucher_type:
          type: "integer"
          minimum: 1
          maximum: 95
        point_of_sale_id:
          type: "string"
          format: "uuid"
        register_id:
          type: "string"
          format: "uuid"
        operator_id:
          type: "string"
          format: "uuid"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        service_from:
          type: "string"
          format: "date"
        service_to:
          type: "string"
          format: "date"
        currency:
          $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        same_currency_payment:
          type: "boolean"
        notes:
          type: "string"
        items:
          minItems: 1
          type: "array"
          items:
            type: "object"
            properties:
              product_id:
                type: "string"
                format: "uuid"
              warehouse_id:
                type: "string"
                format: "uuid"
              unit_cost:
                type: "integer"
                minimum: 0
              name:
                type: "string"
              product_type:
                type: "string"
                enum:
                  - "product"
                  - "service"
              tax_rate_id:
                type: "integer"
                minimum: 0
              is_exempt:
                type: "boolean"
              quantity:
                type: "number"
                exclusiveMinimum: 0
              unit_price:
                type: "integer"
                minimum: 0
              discount:
                $ref: "#/components/schemas/ApiSharedObject16c3799d74"
              notes:
                type: "string"
              account_id:
                type: "string"
                format: "uuid"
              cost_center1_id:
                type: "string"
                format: "uuid"
              cost_center2_id:
                type: "string"
                format: "uuid"
              cost_center3_id:
                type: "string"
                format: "uuid"
            required:
              - "quantity"
              - "unit_price"
            additionalProperties: false
        discount_type:
          $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
        discount_value:
          type: "number"
          minimum: 0
        discount_amount:
          type: "integer"
          minimum: 0
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        tributes_amount:
          type: "integer"
          minimum: 0
        national_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_perception_amount:
          type: "integer"
          minimum: 0
        internal_tribute_amount:
          type: "integer"
          minimum: 0
        uncategorized_vat_perception_amount:
          type: "integer"
          minimum: 0
        other_tribute_amount:
          type: "integer"
          minimum: 0
        rounding_adjustment:
          type: "integer"
        payment_methods:
          type: "array"
          items:
            type: "object"
            properties:
              method_id:
                type: "string"
                format: "uuid"
              amount:
                type: "integer"
                exclusiveMinimum: 0
              description:
                type: "string"
              reference:
                type: "string"
              fee_amount:
                type: "integer"
                minimum: 0
              terminal_id:
                type: "string"
                format: "uuid"
              card_batch_number:
                type: "string"
              card_coupon_number:
                type: "string"
              card_installment_plan_code:
                type: "string"
              card_brand:
                type: "string"
            required:
              - "method_id"
              - "amount"
            additionalProperties: false
        is_full_amount_pending:
          type: "boolean"
      required:
        - "voucher_type"
        - "point_of_sale_id"
        - "invoice_date"
        - "currency"
        - "items"
      additionalProperties: false
    ApiSaleTransactionSuccessResponse:
      $ref: "#/components/schemas/ApiSaleCommitResponse"
    ApiTransferIssue:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        field:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiTransferSnapshot:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        organization_id:
          type: "string"
          format: "uuid"
        source_warehouse_id:
          type: "string"
          format: "uuid"
        target_warehouse_id:
          type: "string"
          format: "uuid"
        transfer_number:
          anyOf:
            - type: "integer"
              exclusiveMinimum: 0
            - type: "null"
        formatted_transfer_number:
          anyOf:
            - type: "string"
            - type: "null"
        transfer_date:
          type: "string"
          format: "date-time"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        status:
          $ref: "#/components/schemas/ApiSharedEnumc66b046f05"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        created_by:
          type: "string"
        updated_by:
          anyOf:
            - type: "string"
            - type: "null"
        source_warehouse:
          $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
        target_warehouse:
          $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject13f8ed82da"
      required:
        - "id"
        - "organization_id"
        - "source_warehouse_id"
        - "target_warehouse_id"
        - "transfer_number"
        - "formatted_transfer_number"
        - "transfer_date"
        - "notes"
        - "status"
        - "created_at"
        - "updated_at"
        - "created_by"
        - "updated_by"
        - "source_warehouse"
        - "target_warehouse"
        - "items"
      additionalProperties: false
    ApiStockTransferRequest:
      type: "object"
      properties:
        source_warehouse_id:
          type: "string"
          format: "uuid"
        target_warehouse_id:
          type: "string"
          format: "uuid"
        transfer_date:
          type: "string"
          format: "date-time"
        notes:
          type: "string"
        items:
          minItems: 1
          maxItems: 500
          type: "array"
          items:
            type: "object"
            properties:
              product_id:
                type: "string"
                format: "uuid"
              quantity:
                type: "integer"
                minimum: 1
            required:
              - "product_id"
              - "quantity"
            additionalProperties: false
        save_as_draft:
          type: "boolean"
        mark_as_received:
          type: "boolean"
      required:
        - "source_warehouse_id"
        - "target_warehouse_id"
        - "transfer_date"
        - "items"
      additionalProperties: false
    ApiStockTransferSuccessResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            transfer:
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                organization_id:
                  type: "string"
                  format: "uuid"
                source_warehouse_id:
                  type: "string"
                  format: "uuid"
                target_warehouse_id:
                  type: "string"
                  format: "uuid"
                transfer_number:
                  anyOf:
                    - type: "integer"
                      exclusiveMinimum: 0
                    - type: "null"
                formatted_transfer_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                transfer_date:
                  type: "string"
                  format: "date-time"
                notes:
                  anyOf:
                    - type: "string"
                    - type: "null"
                status:
                  $ref: "#/components/schemas/ApiSharedEnumc66b046f05"
                created_at:
                  type: "string"
                  format: "date-time"
                updated_at:
                  type: "string"
                  format: "date-time"
                created_by:
                  type: "string"
                updated_by:
                  anyOf:
                    - type: "string"
                    - type: "null"
                source_warehouse:
                  $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
                target_warehouse:
                  $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
                items:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObject13f8ed82da"
              required:
                - "id"
                - "organization_id"
                - "source_warehouse_id"
                - "target_warehouse_id"
                - "transfer_number"
                - "formatted_transfer_number"
                - "transfer_date"
                - "notes"
                - "status"
                - "created_at"
                - "updated_at"
                - "created_by"
                - "updated_by"
                - "source_warehouse"
                - "target_warehouse"
                - "items"
              additionalProperties: false
            idempotent_replay:
              type: "boolean"
          required:
            - "transfer"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectc671832641"
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiSupplierListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "supplier"
              id:
                type: "string"
                format: "uuid"
              name:
                type: "string"
              company_name:
                anyOf:
                  - type: "string"
                  - type: "null"
              description:
                anyOf:
                  - type: "string"
                  - type: "null"
              email:
                anyOf:
                  - type: "string"
                  - type: "null"
              phone:
                anyOf:
                  - type: "string"
                  - type: "null"
              tax_id:
                anyOf:
                  - type: "string"
                  - type: "null"
              tax_id_type:
                anyOf:
                  - type: "string"
                  - type: "null"
              tax_category:
                anyOf:
                  - type: "string"
                  - type: "null"
              payment_term_id:
                anyOf:
                  - type: "string"
                  - type: "null"
              is_active:
                anyOf:
                  - type: "boolean"
                  - type: "null"
            required:
              - "object"
              - "id"
              - "name"
              - "company_name"
              - "description"
              - "email"
              - "phone"
              - "tax_id"
              - "tax_id_type"
              - "tax_category"
              - "payment_term_id"
              - "is_active"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiSupplierDetailResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          $ref: "#/components/schemas/ApiSharedObjectac822ca2fd"
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiCategoryListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiCategoryDetailResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiProductListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
              name:
                type: "string"
              description:
                anyOf:
                  - type: "string"
                  - type: "null"
              category:
                anyOf:
                  - $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
                  - type: "null"
              sku:
                type: "string"
              barcode:
                anyOf:
                  - type: "string"
                  - type: "null"
              currency:
                type: "string"
              cost:
                type: "number"
              price:
                type: "number"
              tax_rate:
                $ref: "#/components/schemas/ApiSharedObjectee5eae48b0"
              default_supplier:
                anyOf:
                  - $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
                  - type: "null"
              product_type:
                $ref: "#/components/schemas/ApiSharedEnumff49232140"
              is_active:
                type: "boolean"
              organization_slug:
                type: "string"
              created_at:
                type: "string"
                format: "date-time"
              updated_at:
                type: "string"
                format: "date-time"
              effective_price:
                type: "number"
              price_source:
                $ref: "#/components/schemas/ApiSharedEnumfe93f70a59"
              applied_price_list:
                $ref: "#/components/schemas/ApiSharedObjectfc277c542a"
              object:
                type: "string"
                const: "product"
            required:
              - "id"
              - "name"
              - "description"
              - "category"
              - "sku"
              - "barcode"
              - "currency"
              - "cost"
              - "price"
              - "tax_rate"
              - "default_supplier"
              - "product_type"
              - "is_active"
              - "organization_slug"
              - "created_at"
              - "updated_at"
              - "object"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiProductMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        category_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        visibility:
          default: "both"
          type: "string"
          enum:
            - "both"
            - "sales"
            - "purchases"
        image_url:
          anyOf:
            - type: "string"
            - type: "null"
        product_type:
          default: "product"
          type: "string"
          enum:
            - "product"
            - "service"
            - "combo"
            - "kit"
        sku:
          type: "string"
        barcode:
          anyOf:
            - type: "string"
            - type: "null"
        unit_of_measure:
          default: "07"
          type: "string"
          enum:
            - "10"
            - "11"
            - "12"
            - "13"
            - "14"
            - "15"
            - "16"
            - "17"
            - "18"
            - "19"
            - "20"
            - "21"
            - "22"
            - "23"
            - "24"
            - "25"
            - "26"
            - "27"
            - "28"
            - "29"
            - "30"
            - "31"
            - "32"
            - "33"
            - "34"
            - "35"
            - "36"
            - "37"
            - "41"
            - "47"
            - "48"
            - "49"
            - "50"
            - "51"
            - "52"
            - "53"
            - "54"
            - "55"
            - "61"
            - "62"
            - "63"
            - "97"
            - "98"
            - "99"
            - "00"
            - "01"
            - "02"
            - "03"
            - "04"
            - "05"
            - "06"
            - "07"
            - "08"
            - "09"
        currency:
          default: "PES"
          type: "string"
          enum:
            - "PES"
            - "DOL"
        cost:
          default: 0
          type: "integer"
          minimum: 0
        price:
          type: "integer"
          minimum: 0
        promotional_price:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        markup_percentage:
          anyOf:
            - type: "number"
              minimum: 0
              maximum: 1000
            - type: "null"
        tax_rate_id:
          default: 5
          type: "integer"
        is_exempt:
          default: false
          type: "boolean"
        default_supplier_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_sales_account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_purchase_account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        warehouse_stocks:
          default: []
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject6dbe49c4ef"
        is_active:
          default: true
          type: "boolean"
      required:
        - "name"
        - "sku"
      additionalProperties: false
    ApiProductUpdateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        category_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        visibility:
          type: "string"
          enum:
            - "both"
            - "sales"
            - "purchases"
        image_url:
          anyOf:
            - type: "string"
            - type: "null"
        product_type:
          $ref: "#/components/schemas/ApiSharedEnumff49232140"
        sku:
          type: "string"
        barcode:
          anyOf:
            - type: "string"
            - type: "null"
        unit_of_measure:
          type: "string"
          enum:
            - "10"
            - "11"
            - "12"
            - "13"
            - "14"
            - "15"
            - "16"
            - "17"
            - "18"
            - "19"
            - "20"
            - "21"
            - "22"
            - "23"
            - "24"
            - "25"
            - "26"
            - "27"
            - "28"
            - "29"
            - "30"
            - "31"
            - "32"
            - "33"
            - "34"
            - "35"
            - "36"
            - "37"
            - "41"
            - "47"
            - "48"
            - "49"
            - "50"
            - "51"
            - "52"
            - "53"
            - "54"
            - "55"
            - "61"
            - "62"
            - "63"
            - "97"
            - "98"
            - "99"
            - "00"
            - "01"
            - "02"
            - "03"
            - "04"
            - "05"
            - "06"
            - "07"
            - "08"
            - "09"
        currency:
          $ref: "#/components/schemas/ApiSharedEnum6cfb146157"
        cost:
          type: "integer"
          minimum: 0
        price:
          type: "integer"
          minimum: 0
        promotional_price:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        markup_percentage:
          anyOf:
            - type: "number"
              minimum: 0
              maximum: 1000
            - type: "null"
        tax_rate_id:
          type: "integer"
        is_exempt:
          type: "boolean"
        default_supplier_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_sales_account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_purchase_account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        warehouse_stocks:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject6dbe49c4ef"
        is_active:
          type: "boolean"
      additionalProperties: false
    ApiProductBulkAdjustmentRequest:
      type: "object"
      properties:
        target:
          type: "string"
          enum:
            - "cost"
            - "price"
        operation_type:
          type: "string"
          enum:
            - "increase"
            - "decrease"
        adjustment_type:
          type: "string"
          enum:
            - "percentage"
            - "fixed"
        adjustment_value:
          type: "number"
          exclusiveMinimum: 0
        search:
          type: "string"
        category:
          type: "array"
          items:
            type: "string"
            format: "uuid"
        product_type:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedEnumff49232140"
        default_supplier_id:
          type: "string"
          format: "uuid"
        selection:
          oneOf:
            - type: "object"
              properties:
                type:
                  type: "string"
                  const: "all"
                excluded_ids:
                  type: "array"
                  items:
                    type: "string"
                    format: "uuid"
              required:
                - "type"
              additionalProperties: false
            - type: "object"
              properties:
                type:
                  type: "string"
                  const: "specific"
                ids:
                  minItems: 1
                  type: "array"
                  items:
                    type: "string"
                    format: "uuid"
              required:
                - "type"
                - "ids"
              additionalProperties: false
      required:
        - "target"
        - "operation_type"
        - "adjustment_type"
        - "adjustment_value"
        - "selection"
      additionalProperties: false
    ApiProductDetail:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
            - type: "null"
        sku:
          type: "string"
        barcode:
          anyOf:
            - type: "string"
            - type: "null"
        currency:
          type: "string"
        cost:
          type: "number"
        price:
          type: "number"
        tax_rate:
          $ref: "#/components/schemas/ApiSharedObjectee5eae48b0"
        default_supplier:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObject8aeeceaf0f"
            - type: "null"
        product_type:
          $ref: "#/components/schemas/ApiSharedEnumff49232140"
        is_active:
          type: "boolean"
        organization_slug:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        effective_price:
          type: "number"
        price_source:
          $ref: "#/components/schemas/ApiSharedEnumfe93f70a59"
        applied_price_list:
          $ref: "#/components/schemas/ApiSharedObjectfc277c542a"
        object:
          type: "string"
          const: "product"
        variant_group_id:
          type: "string"
          format: "uuid"
        variant_options:
          anyOf:
            - type: "object"
              additionalProperties:
                type: "string"
            - type: "null"
        is_exempt:
          type: "boolean"
        stock_summary:
          $ref: "#/components/schemas/ApiSharedObjecta9f7340006"
      required:
        - "id"
        - "name"
        - "description"
        - "category"
        - "sku"
        - "barcode"
        - "currency"
        - "cost"
        - "price"
        - "tax_rate"
        - "default_supplier"
        - "product_type"
        - "is_active"
        - "organization_slug"
        - "created_at"
        - "updated_at"
        - "object"
        - "variant_group_id"
        - "variant_options"
        - "is_exempt"
        - "stock_summary"
      additionalProperties: false
    ApiProductDetailResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          $ref: "#/components/schemas/ApiSharedObjectd371740910"
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiProductCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            product:
              $ref: "#/components/schemas/ApiSharedObjectd371740910"
            idempotent_replay:
              type: "boolean"
          required:
            - "product"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiProductUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            product:
              $ref: "#/components/schemas/ApiSharedObjectd371740910"
          required:
            - "product"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiProductBulkAdjustmentResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            product_bulk_adjustment:
              type: "object"
              properties:
                object:
                  type: "string"
                  const: "product_bulk_adjustment"
                updated:
                  type: "integer"
                  minimum: 0
                skipped:
                  type: "integer"
                  minimum: 0
              required:
                - "object"
                - "updated"
                - "skipped"
              additionalProperties: false
          required:
            - "product_bulk_adjustment"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiWarehouseListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "warehouse"
              id:
                type: "string"
                format: "uuid"
              name:
                type: "string"
              address:
                anyOf:
                  - type: "string"
                  - type: "null"
              is_default:
                type: "boolean"
              is_active:
                type: "boolean"
              points_of_sale_count:
                type: "integer"
                minimum: 0
              member_count:
                type: "integer"
                minimum: 0
              register_count:
                type: "integer"
                minimum: 0
            required:
              - "object"
              - "id"
              - "name"
              - "address"
              - "is_default"
              - "is_active"
              - "points_of_sale_count"
              - "member_count"
              - "register_count"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiWarehouseDetailResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          $ref: "#/components/schemas/ApiSharedObjectadcf6da6ce"
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiPriceList:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        is_automatic:
          type: "boolean"
        automatic_pricing_mode:
          $ref: "#/components/schemas/ApiSharedEnum3c5633618c"
        adjustment_percentage:
          anyOf:
            - type: "number"
            - type: "null"
        tax_inclusive:
          type: "boolean"
        created_at:
          type: "string"
          format: "date-time"
        object:
          type: "string"
          const: "price_list"
      required:
        - "id"
        - "name"
        - "is_automatic"
        - "automatic_pricing_mode"
        - "adjustment_percentage"
        - "tax_inclusive"
        - "created_at"
        - "object"
      additionalProperties: false
    ApiPriceListMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        is_automatic:
          default: true
          type: "boolean"
        automatic_pricing_mode:
          default: "base_price_adjustment"
          type: "string"
          enum:
            - "base_price_adjustment"
            - "cost_markup"
        adjustment_percentage:
          anyOf:
            - type: "number"
              minimum: -100
              maximum: 1000
            - type: "null"
        default_economic_activity:
          anyOf:
            - type: "string"
              pattern: "^\\d{6}$"
            - type: "null"
        tax_inclusive:
          default: true
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiPriceListListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject16ba66a421"
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiPriceListDetailResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          $ref: "#/components/schemas/ApiSharedObject16ba66a421"
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiPriceListCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            price_list:
              $ref: "#/components/schemas/ApiSharedObject16ba66a421"
            idempotent_replay:
              type: "boolean"
          required:
            - "price_list"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPriceListUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            price_list:
              $ref: "#/components/schemas/ApiSharedObject16ba66a421"
            should_sync_prices:
              type: "boolean"
          required:
            - "price_list"
            - "should_sync_prices"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPurchaseListItem:
      type: "object"
      properties:
        object:
          type: "string"
          const: "purchase"
        id:
          type: "string"
          format: "uuid"
        voucher_type:
          type: "string"
        invoice_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha del comprobante en formato YYYY-MM-DD."
        account_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
        due_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
        total:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        balance:
          anyOf:
            - type: "integer"
            - type: "null"
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        currency:
          type: "string"
        exchange_rate:
          type: "string"
        supplier_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
        created_at:
          type: "string"
          format: "date-time"
        supplier:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObjectf28d5cf256"
            - type: "null"
      required:
        - "object"
        - "id"
        - "voucher_type"
        - "invoice_date"
        - "account_date"
        - "due_date"
        - "total"
        - "balance"
        - "warehouse_id"
        - "currency"
        - "exchange_rate"
        - "supplier_invoice_number"
        - "created_at"
        - "supplier"
      additionalProperties: false
    ApiPurchaseListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "purchase"
              id:
                type: "string"
                format: "uuid"
              voucher_type:
                type: "string"
              invoice_date:
                anyOf:
                  - type: "string"
                  - type: "null"
                description: "Fecha del comprobante en formato YYYY-MM-DD."
              account_date:
                anyOf:
                  - type: "string"
                  - type: "null"
                description: "Fecha contable de la compra en formato YYYY-MM-DD."
              due_date:
                anyOf:
                  - type: "string"
                  - type: "null"
                description: "Fecha de vencimiento en formato YYYY-MM-DD."
              total:
                anyOf:
                  - type: "integer"
                    minimum: 0
                  - type: "null"
              balance:
                anyOf:
                  - type: "integer"
                  - type: "null"
              warehouse_id:
                anyOf:
                  - type: "string"
                    format: "uuid"
                  - type: "null"
              currency:
                type: "string"
              exchange_rate:
                type: "string"
              supplier_invoice_number:
                anyOf:
                  - type: "string"
                  - type: "null"
                description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
              created_at:
                type: "string"
                format: "date-time"
              supplier:
                anyOf:
                  - $ref: "#/components/schemas/ApiSharedObjectf28d5cf256"
                  - type: "null"
            required:
              - "object"
              - "id"
              - "voucher_type"
              - "invoice_date"
              - "account_date"
              - "due_date"
              - "total"
              - "balance"
              - "warehouse_id"
              - "currency"
              - "exchange_rate"
              - "supplier_invoice_number"
              - "created_at"
              - "supplier"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiPurchaseDetail:
      type: "object"
      properties:
        object:
          type: "string"
          const: "purchase"
        id:
          type: "string"
          format: "uuid"
        voucher_type:
          type: "string"
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          description: "ID de la factura comercial asociada al despacho aduanero."
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
        supplier_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
        invoice_date:
          anyOf:
[...]
