openapi: "3.1.0"
info:
  title: "La Pyme API"
  description: "API externa para integrar con el sistema de gestión La Pyme. v1 cubre clientes, productos, ventas, stock y transferencias. v2 agrega compras, proveedores y reportes con errores estructurados e idempotencia."
  version: "1.0.0"
  contact:
    name: "Soporte La Pyme"
    email: "hola@lapyme.com.ar"
  license:
    name: "Propietario"
    url: "https://lapyme.com.ar/terminos"
servers:
  - url: "https://api.lapyme.com.ar"
    description: "Servidor de producción"
security:
  - bearerAuth: []
components:
  schemas:
    HealthResponse:
      type: "object"
      properties:
        status:
          type: "string"
          enum:
            - "healthy"
            - "unhealthy"
        timestamp:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        version:
          type: "string"
        uptime:
          type: "number"
        environment:
          type: "string"
      required:
        - "status"
        - "timestamp"
        - "version"
      additionalProperties: false
    Pagination:
      type: "object"
      properties:
        page:
          type: "number"
          minimum: 1
        limit:
          type: "number"
          minimum: 1
        total:
          type: "number"
          minimum: 0
        totalPages:
          type: "number"
          minimum: 1
      required:
        - "page"
        - "limit"
        - "total"
        - "totalPages"
      additionalProperties: false
    ProductCategory:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
      required:
        - "id"
        - "name"
      additionalProperties: false
    TaxRate:
      type: "object"
      properties:
        id:
          type: "number"
        value:
          type: "number"
      required:
        - "id"
        - "value"
      additionalProperties: false
    DefaultSupplier:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
      required:
        - "id"
        - "name"
      additionalProperties: false
    Customer:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        email:
          nullable: true
          type: "string"
          format: "email"
          pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
        phone:
          nullable: true
          type: "string"
        taxId:
          nullable: true
          type: "string"
        taxIdType:
          nullable: true
          type: "string"
        taxCategory:
          nullable: true
          type: "string"
        address:
          nullable: true
          type: "string"
        apartment:
          nullable: true
          type: "string"
        city:
          nullable: true
          type: "string"
        province:
          nullable: true
          type: "string"
        isActive:
          nullable: true
          type: "boolean"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "name"
        - "email"
        - "phone"
        - "taxId"
        - "taxIdType"
        - "taxCategory"
        - "address"
        - "apartment"
        - "city"
        - "province"
        - "isActive"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    Product:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        description:
          nullable: true
          type: "string"
        category:
          nullable: true
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
        sku:
          type: "string"
        barcode:
          nullable: true
          type: "string"
        oemCode:
          nullable: true
          type: "string"
        currency:
          type: "string"
        cost:
          type: "number"
        price:
          type: "number"
        taxRate:
          type: "object"
          properties:
            id:
              type: "number"
            value:
              type: "number"
          required:
            - "id"
            - "value"
          additionalProperties: false
        stockMinimum:
          type: "number"
        defaultSupplier:
          nullable: true
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
        productType:
          type: "string"
          enum:
            - "product"
            - "service"
            - "combo"
        isActive:
          type: "boolean"
        organizationSlug:
          type: "string"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "name"
        - "description"
        - "category"
        - "sku"
        - "barcode"
        - "oemCode"
        - "currency"
        - "cost"
        - "price"
        - "taxRate"
        - "stockMinimum"
        - "defaultSupplier"
        - "productType"
        - "isActive"
        - "organizationSlug"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    ProductWithPriceList:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        description:
          nullable: true
          type: "string"
        category:
          nullable: true
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
        sku:
          type: "string"
        barcode:
          nullable: true
          type: "string"
        oemCode:
          nullable: true
          type: "string"
        currency:
          type: "string"
        cost:
          type: "number"
        price:
          type: "number"
        taxRate:
          type: "object"
          properties:
            id:
              type: "number"
            value:
              type: "number"
          required:
            - "id"
            - "value"
          additionalProperties: false
        stockMinimum:
          type: "number"
        defaultSupplier:
          nullable: true
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
        productType:
          type: "string"
          enum:
            - "product"
            - "service"
            - "combo"
        isActive:
          type: "boolean"
        organizationSlug:
          type: "string"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        effectivePrice:
          type: "number"
        priceSource:
          type: "string"
          enum:
            - "automatic"
            - "manual_override"
            - "manual_fallback"
            - "base"
        appliedPriceList:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            isAutomatic:
              type: "boolean"
            automaticPricingMode:
              type: "string"
              enum:
                - "base_price_adjustment"
                - "cost_markup"
            adjustmentPercentage:
              nullable: true
              type: "number"
            taxInclusive:
              type: "boolean"
          required:
            - "id"
            - "name"
            - "isAutomatic"
            - "automaticPricingMode"
            - "adjustmentPercentage"
            - "taxInclusive"
          additionalProperties: false
      required:
        - "id"
        - "name"
        - "description"
        - "category"
        - "sku"
        - "barcode"
        - "oemCode"
        - "currency"
        - "cost"
        - "price"
        - "taxRate"
        - "stockMinimum"
        - "defaultSupplier"
        - "productType"
        - "isActive"
        - "organizationSlug"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    PriceSource:
      type: "string"
      enum:
        - "automatic"
        - "manual_override"
        - "manual_fallback"
        - "base"
    AppliedPriceList:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        isAutomatic:
          type: "boolean"
        automaticPricingMode:
          type: "string"
          enum:
            - "base_price_adjustment"
            - "cost_markup"
        adjustmentPercentage:
          nullable: true
          type: "number"
        taxInclusive:
          type: "boolean"
      required:
        - "id"
        - "name"
        - "isAutomatic"
        - "automaticPricingMode"
        - "adjustmentPercentage"
        - "taxInclusive"
      additionalProperties: false
    PriceList:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        isAutomatic:
          type: "boolean"
        automaticPricingMode:
          type: "string"
          enum:
            - "base_price_adjustment"
            - "cost_markup"
        adjustmentPercentage:
          nullable: true
          type: "number"
        taxInclusive:
          type: "boolean"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "name"
        - "isAutomatic"
        - "automaticPricingMode"
        - "adjustmentPercentage"
        - "taxInclusive"
        - "createdAt"
      additionalProperties: false
    SaleCustomer:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        email:
          nullable: true
          type: "string"
          format: "email"
          pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
        phone:
          nullable: true
          type: "string"
        taxId:
          nullable: true
          type: "string"
        address:
          nullable: true
          type: "string"
        apartment:
          nullable: true
          type: "string"
        city:
          nullable: true
          type: "string"
        province:
          nullable: true
          type: "string"
      required:
        - "id"
        - "name"
        - "email"
        - "phone"
        - "taxId"
        - "address"
        - "apartment"
        - "city"
        - "province"
      additionalProperties: false
    SaleProduct:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        sku:
          type: "string"
      required:
        - "id"
        - "name"
        - "sku"
      additionalProperties: false
    SaleWarehouse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
      required:
        - "id"
        - "name"
      additionalProperties: false
    SaleItem:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        quantity:
          type: "number"
        unitPrice:
          type: "number"
        unitCost:
          type: "number"
        taxRateId:
          type: "number"
        discountPercentage:
          nullable: true
          type: "string"
        product:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            sku:
              type: "string"
          required:
            - "id"
            - "name"
            - "sku"
          additionalProperties: false
        warehouse:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
      required:
        - "id"
        - "quantity"
        - "unitPrice"
        - "unitCost"
        - "taxRateId"
        - "discountPercentage"
        - "product"
        - "warehouse"
      additionalProperties: false
    Sale:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        invoiceNumber:
          nullable: true
          type: "number"
        formattedInvoiceNumber:
          nullable: true
          type: "string"
        invoiceDate:
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
        dueDate:
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
        serviceFrom:
          nullable: true
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
        serviceTo:
          nullable: true
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
        currency:
          type: "string"
        subtotal:
          type: "number"
        taxAmount:
          type: "number"
        total:
          type: "number"
        balance:
          nullable: true
          type: "number"
        concept:
          nullable: true
          type: "number"
        notes:
          nullable: true
          type: "string"
        fiscalNotes:
          nullable: true
          type: "string"
        integrationSource:
          nullable: true
          type: "string"
        integrationId:
          nullable: true
          type: "string"
        customer:
          nullable: true
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            email:
              nullable: true
              type: "string"
              format: "email"
              pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            phone:
              nullable: true
              type: "string"
            taxId:
              nullable: true
              type: "string"
            address:
              nullable: true
              type: "string"
            apartment:
              nullable: true
              type: "string"
            city:
              nullable: true
              type: "string"
            province:
              nullable: true
              type: "string"
          required:
            - "id"
            - "name"
            - "email"
            - "phone"
            - "taxId"
            - "address"
            - "apartment"
            - "city"
            - "province"
          additionalProperties: false
        items:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              quantity:
                type: "number"
              unitPrice:
                type: "number"
              unitCost:
                type: "number"
              taxRateId:
                type: "number"
              discountPercentage:
                nullable: true
                type: "string"
              product:
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                  sku:
                    type: "string"
                required:
                  - "id"
                  - "name"
                  - "sku"
                additionalProperties: false
              warehouse:
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                additionalProperties: false
            required:
              - "id"
              - "quantity"
              - "unitPrice"
              - "unitCost"
              - "taxRateId"
              - "discountPercentage"
              - "product"
              - "warehouse"
            additionalProperties: false
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "invoiceNumber"
        - "formattedInvoiceNumber"
        - "invoiceDate"
        - "dueDate"
        - "serviceFrom"
        - "serviceTo"
        - "currency"
        - "subtotal"
        - "taxAmount"
        - "total"
        - "balance"
        - "concept"
        - "notes"
        - "fiscalNotes"
        - "integrationSource"
        - "integrationId"
        - "customer"
        - "items"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    Error:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - false
        error:
          type: "string"
        code:
          type: "string"
      required:
        - "success"
        - "error"
      additionalProperties: false
    RateLimitedError:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - false
        error:
          type: "string"
        code:
          type: "string"
          enum:
            - "RATE_LIMITED"
      required:
        - "success"
        - "error"
        - "code"
      additionalProperties: false
    CreateCustomerRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 70
          description: "Razón social o nombre del cliente"
        email:
          nullable: true
          description: "Email del cliente"
          type: "string"
          maxLength: 100
          format: "email"
          pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
        phone:
          nullable: true
          description: "Teléfono del cliente"
          type: "string"
          maxLength: 13
        taxId:
          nullable: true
          description: "Número de documento (CUIT/CUIL/DNI sin guiones)"
          type: "string"
          minLength: 7
          maxLength: 11
        taxIdType:
          nullable: true
          description: "Tipo de documento"
          type: "string"
          enum:
            - "CUIL/CUIT"
            - "DNI"
        taxCategory:
          nullable: true
          description: "Categoría fiscal"
          type: "string"
          enum:
            - "Responsable Inscripto"
            - "Consumidor Final"
            - "Monotributista"
            - "Exento"
            - "IVA no alcanzado"
        personType:
          nullable: true
          description: "Tipo de persona"
          type: "string"
          enum:
            - "FISICA"
            - "JURIDICA"
        country:
          nullable: true
          description: "País"
          type: "string"
          maxLength: 50
        province:
          nullable: true
          description: "Código de provincia (se enviará el nombre en la respuesta)"
          type: "string"
          maxLength: 2
        city:
          nullable: true
          description: "Ciudad"
          type: "string"
        address:
          nullable: true
          description: "Dirección"
          type: "string"
          maxLength: 70
        apartment:
          nullable: true
          description: "Departamento/Piso"
          type: "string"
          maxLength: 10
        postalCode:
          nullable: true
          description: "Código postal"
          type: "string"
          maxLength: 8
      required:
        - "name"
      additionalProperties: false
    CreateProductRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 100
          description: "Nombre del producto"
        description:
          nullable: true
          description: "Descripción del producto"
          type: "string"
          maxLength: 500
        categoryId:
          nullable: true
          description: "ID de la categoría del producto"
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        sku:
          type: "string"
          minLength: 1
          maxLength: 50
          description: "Código SKU único del producto"
        barcode:
          nullable: true
          description: "Código de barras del producto"
          type: "string"
          maxLength: 50
        oemCode:
          nullable: true
          description: "Código OEM del producto"
          type: "string"
          maxLength: 50
        currency:
          description: "Moneda del precio (ISO 4217)"
          default: "ARS"
          type: "string"
          minLength: 3
          maxLength: 3
        cost:
          type: "number"
          minimum: 0
          description: "Costo del producto"
        price:
          type: "number"
          minimum: 0
          description: "Precio de venta del producto"
        taxRateId:
          type: "integer"
          minimum: 1
          maximum: 9007199254740991
          description: "ID de la tasa de impuesto aplicable"
        stockMinimum:
          description: "Stock mínimo requerido"
          default: 0
          type: "integer"
          minimum: 0
          maximum: 9007199254740991
        defaultSupplierId:
          nullable: true
          description: "ID del proveedor por defecto"
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        productType:
          description: "Tipo de producto"
          default: "product"
          type: "string"
          enum:
            - "product"
            - "service"
            - "combo"
        isActive:
          description: "Estado activo del producto"
          default: true
          type: "boolean"
      required:
        - "name"
        - "sku"
        - "cost"
        - "price"
        - "taxRateId"
      additionalProperties: false
    CreateCategoryRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 50
          description: "Nombre de la categoría"
        parentId:
          nullable: true
          description: "ID de la categoría padre (opcional)"
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
      required:
        - "name"
      additionalProperties: false
    CreatePaymentMethodRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 50
          description: "Nombre del método de pago"
        icon:
          nullable: true
          description: "Ícono del método de pago"
          type: "string"
          maxLength: 50
        feePercentage:
          nullable: true
          description: "Porcentaje de comisión"
          type: "string"
          maxLength: 10
        feeFixed:
          nullable: true
          description: "Comisión fija"
          type: "number"
          minimum: 0
        requiresReference:
          description: "Requiere referencia"
          default: false
          type: "boolean"
        isActive:
          description: "Estado activo"
          default: true
          type: "boolean"
        isDefault:
          description: "Es método por defecto"
          default: false
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    CreateWarehouseRequest:
      type: "object"
      properties:
        name:
          type: "string"
          minLength: 1
          maxLength: 100
          description: "Nombre de la ubicación"
        address:
          nullable: true
          description: "Dirección de la ubicación"
          type: "string"
          maxLength: 200
        isDefault:
          description: "Es ubicación por defecto"
          default: false
          type: "boolean"
        isActive:
          description: "Estado activo"
          default: true
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    CustomerRequestParams:
      type: "object"
      properties:
        page:
          default: 1
          type: "number"
          minimum: 1
        limit:
          default: 50
          type: "number"
          minimum: 1
          maximum: 100
        search:
          type: "string"
      required:
        - "page"
        - "limit"
      additionalProperties: false
    ProductRequestParams:
      type: "object"
      properties:
        page:
          default: 1
          type: "number"
          minimum: 1
        limit:
          default: 50
          type: "number"
          minimum: 1
          maximum: 100
        search:
          type: "string"
        categoryId:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        isActive:
          type: "boolean"
        productType:
          type: "string"
          enum:
            - "product"
            - "service"
            - "combo"
        priceListId:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
      required:
        - "page"
        - "limit"
      additionalProperties: false
    ProductByIdRequestParams:
      type: "object"
      properties:
        priceListId:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
      additionalProperties: false
    PriceListRequestParams:
      type: "object"
      properties:
        page:
          default: 1
          type: "number"
          minimum: 1
        limit:
          default: 50
          type: "number"
          minimum: 1
          maximum: 100
        search:
          type: "string"
      required:
        - "page"
        - "limit"
      additionalProperties: false
    SalesRequestParams:
      type: "object"
      properties:
        page:
          default: 1
          type: "number"
          minimum: 1
        limit:
          default: 50
          type: "number"
          minimum: 1
          maximum: 100
        search:
          type: "string"
        dateFrom:
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
        dateTo:
          type: "string"
          format: "date"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
      required:
        - "page"
        - "limit"
      additionalProperties: false
    CustomerListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              name:
                type: "string"
              email:
                nullable: true
                type: "string"
                format: "email"
                pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
              phone:
                nullable: true
                type: "string"
              taxId:
                nullable: true
                type: "string"
              taxIdType:
                nullable: true
                type: "string"
              taxCategory:
                nullable: true
                type: "string"
              address:
                nullable: true
                type: "string"
              apartment:
                nullable: true
                type: "string"
              city:
                nullable: true
                type: "string"
              province:
                nullable: true
                type: "string"
              isActive:
                nullable: true
                type: "boolean"
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              updatedAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            required:
              - "id"
              - "name"
              - "email"
              - "phone"
              - "taxId"
              - "taxIdType"
              - "taxCategory"
              - "address"
              - "apartment"
              - "city"
              - "province"
              - "isActive"
              - "createdAt"
              - "updatedAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    CreateCustomerResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            email:
              nullable: true
              type: "string"
              format: "email"
              pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            phone:
              nullable: true
              type: "string"
            taxId:
              nullable: true
              type: "string"
            taxIdType:
              nullable: true
              type: "string"
            taxCategory:
              nullable: true
              type: "string"
            address:
              nullable: true
              type: "string"
            apartment:
              nullable: true
              type: "string"
            city:
              nullable: true
              type: "string"
            province:
              nullable: true
              type: "string"
            isActive:
              nullable: true
              type: "boolean"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          required:
            - "id"
            - "name"
            - "email"
            - "phone"
            - "taxId"
            - "taxIdType"
            - "taxCategory"
            - "address"
            - "apartment"
            - "city"
            - "province"
            - "isActive"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    UpdateCustomerResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            email:
              nullable: true
              type: "string"
              format: "email"
              pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
            phone:
              nullable: true
              type: "string"
            taxId:
              nullable: true
              type: "string"
            taxIdType:
              nullable: true
              type: "string"
            taxCategory:
              nullable: true
              type: "string"
            address:
              nullable: true
              type: "string"
            apartment:
              nullable: true
              type: "string"
            city:
              nullable: true
              type: "string"
            province:
              nullable: true
              type: "string"
            isActive:
              nullable: true
              type: "boolean"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          required:
            - "id"
            - "name"
            - "email"
            - "phone"
            - "taxId"
            - "taxIdType"
            - "taxCategory"
            - "address"
            - "apartment"
            - "city"
            - "province"
            - "isActive"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    ProductListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              name:
                type: "string"
              description:
                nullable: true
                type: "string"
              category:
                nullable: true
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                additionalProperties: false
              sku:
                type: "string"
              barcode:
                nullable: true
                type: "string"
              oemCode:
                nullable: true
                type: "string"
              currency:
                type: "string"
              cost:
                type: "number"
              price:
                type: "number"
              taxRate:
                type: "object"
                properties:
                  id:
                    type: "number"
                  value:
                    type: "number"
                required:
                  - "id"
                  - "value"
                additionalProperties: false
              stockMinimum:
                type: "number"
              defaultSupplier:
                nullable: true
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                additionalProperties: false
              productType:
                type: "string"
                enum:
                  - "product"
                  - "service"
                  - "combo"
              isActive:
                type: "boolean"
              organizationSlug:
                type: "string"
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              updatedAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              effectivePrice:
                type: "number"
              priceSource:
                type: "string"
                enum:
                  - "automatic"
                  - "manual_override"
                  - "manual_fallback"
                  - "base"
              appliedPriceList:
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                  isAutomatic:
                    type: "boolean"
                  automaticPricingMode:
                    type: "string"
                    enum:
                      - "base_price_adjustment"
                      - "cost_markup"
                  adjustmentPercentage:
                    nullable: true
                    type: "number"
                  taxInclusive:
                    type: "boolean"
                required:
                  - "id"
                  - "name"
                  - "isAutomatic"
                  - "automaticPricingMode"
                  - "adjustmentPercentage"
                  - "taxInclusive"
                additionalProperties: false
            required:
              - "id"
              - "name"
              - "description"
              - "category"
              - "sku"
              - "barcode"
              - "oemCode"
              - "currency"
              - "cost"
              - "price"
              - "taxRate"
              - "stockMinimum"
              - "defaultSupplier"
              - "productType"
              - "isActive"
              - "organizationSlug"
              - "createdAt"
              - "updatedAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    CreateProductResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            description:
              nullable: true
              type: "string"
            category:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            sku:
              type: "string"
            barcode:
              nullable: true
              type: "string"
            oemCode:
              nullable: true
              type: "string"
            currency:
              type: "string"
            cost:
              type: "number"
            price:
              type: "number"
            taxRate:
              type: "object"
              properties:
                id:
                  type: "number"
                value:
                  type: "number"
              required:
                - "id"
                - "value"
              additionalProperties: false
            stockMinimum:
              type: "number"
            defaultSupplier:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            productType:
              type: "string"
              enum:
                - "product"
                - "service"
                - "combo"
            isActive:
              type: "boolean"
            organizationSlug:
              type: "string"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            effectivePrice:
              type: "number"
            priceSource:
              type: "string"
              enum:
                - "automatic"
                - "manual_override"
                - "manual_fallback"
                - "base"
            appliedPriceList:
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
                isAutomatic:
                  type: "boolean"
                automaticPricingMode:
                  type: "string"
                  enum:
                    - "base_price_adjustment"
                    - "cost_markup"
                adjustmentPercentage:
                  nullable: true
                  type: "number"
                taxInclusive:
                  type: "boolean"
              required:
                - "id"
                - "name"
                - "isAutomatic"
                - "automaticPricingMode"
                - "adjustmentPercentage"
                - "taxInclusive"
              additionalProperties: false
          required:
            - "id"
            - "name"
            - "description"
            - "category"
            - "sku"
            - "barcode"
            - "oemCode"
            - "currency"
            - "cost"
            - "price"
            - "taxRate"
            - "stockMinimum"
            - "defaultSupplier"
            - "productType"
            - "isActive"
            - "organizationSlug"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    UpdateProductResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            description:
              nullable: true
              type: "string"
            category:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            sku:
              type: "string"
            barcode:
              nullable: true
              type: "string"
            oemCode:
              nullable: true
              type: "string"
            currency:
              type: "string"
            cost:
              type: "number"
            price:
              type: "number"
            taxRate:
              type: "object"
              properties:
                id:
                  type: "number"
                value:
                  type: "number"
              required:
                - "id"
                - "value"
              additionalProperties: false
            stockMinimum:
              type: "number"
            defaultSupplier:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            productType:
              type: "string"
              enum:
                - "product"
                - "service"
                - "combo"
            isActive:
              type: "boolean"
            organizationSlug:
              type: "string"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            effectivePrice:
              type: "number"
            priceSource:
              type: "string"
              enum:
                - "automatic"
                - "manual_override"
                - "manual_fallback"
                - "base"
            appliedPriceList:
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
                isAutomatic:
                  type: "boolean"
                automaticPricingMode:
                  type: "string"
                  enum:
                    - "base_price_adjustment"
                    - "cost_markup"
                adjustmentPercentage:
                  nullable: true
                  type: "number"
                taxInclusive:
                  type: "boolean"
              required:
                - "id"
                - "name"
                - "isAutomatic"
                - "automaticPricingMode"
                - "adjustmentPercentage"
                - "taxInclusive"
              additionalProperties: false
          required:
            - "id"
            - "name"
            - "description"
            - "category"
            - "sku"
            - "barcode"
            - "oemCode"
            - "currency"
            - "cost"
            - "price"
            - "taxRate"
            - "stockMinimum"
            - "defaultSupplier"
            - "productType"
            - "isActive"
            - "organizationSlug"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    SalesListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              invoiceNumber:
                nullable: true
                type: "number"
              formattedInvoiceNumber:
                nullable: true
                type: "string"
              invoiceDate:
                type: "string"
                format: "date"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              dueDate:
                type: "string"
                format: "date"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              serviceFrom:
                nullable: true
                type: "string"
                format: "date"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              serviceTo:
                nullable: true
                type: "string"
                format: "date"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
              currency:
                type: "string"
              subtotal:
                type: "number"
              taxAmount:
                type: "number"
              total:
                type: "number"
              balance:
                nullable: true
                type: "number"
              concept:
                nullable: true
                type: "number"
              notes:
                nullable: true
                type: "string"
              fiscalNotes:
                nullable: true
                type: "string"
              integrationSource:
                nullable: true
                type: "string"
              integrationId:
                nullable: true
                type: "string"
              customer:
                nullable: true
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                  email:
                    nullable: true
                    type: "string"
                    format: "email"
                    pattern: "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  phone:
                    nullable: true
                    type: "string"
                  taxId:
                    nullable: true
                    type: "string"
                  address:
                    nullable: true
                    type: "string"
                  apartment:
                    nullable: true
                    type: "string"
                  city:
                    nullable: true
                    type: "string"
                  province:
                    nullable: true
                    type: "string"
                required:
                  - "id"
                  - "name"
                  - "email"
                  - "phone"
                  - "taxId"
                  - "address"
                  - "apartment"
                  - "city"
                  - "province"
                additionalProperties: false
              items:
                type: "array"
                items:
                  type: "object"
                  properties:
                    id:
                      type: "string"
                      format: "uuid"
                      pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    quantity:
                      type: "number"
                    unitPrice:
                      type: "number"
                    unitCost:
                      type: "number"
                    taxRateId:
                      type: "number"
                    discountPercentage:
                      nullable: true
                      type: "string"
                    product:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          format: "uuid"
                          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        name:
                          type: "string"
                        sku:
                          type: "string"
                      required:
                        - "id"
                        - "name"
                        - "sku"
                      additionalProperties: false
                    warehouse:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          format: "uuid"
                          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        name:
                          type: "string"
                      required:
                        - "id"
                        - "name"
                      additionalProperties: false
                  required:
                    - "id"
                    - "quantity"
                    - "unitPrice"
                    - "unitCost"
                    - "taxRateId"
                    - "discountPercentage"
                    - "product"
                    - "warehouse"
                  additionalProperties: false
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              updatedAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            required:
              - "id"
              - "invoiceNumber"
              - "formattedInvoiceNumber"
              - "invoiceDate"
              - "dueDate"
              - "serviceFrom"
              - "serviceTo"
              - "currency"
              - "subtotal"
              - "taxAmount"
              - "total"
              - "balance"
              - "concept"
              - "notes"
              - "fiscalNotes"
              - "integrationSource"
              - "integrationId"
              - "customer"
              - "items"
              - "createdAt"
              - "updatedAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    StockProduct:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        sku:
          type: "string"
      required:
        - "id"
        - "name"
        - "sku"
      additionalProperties: false
    StockWarehouse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
      required:
        - "id"
        - "name"
      additionalProperties: false
    StockPerWarehouse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        product:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            sku:
              type: "string"
          required:
            - "id"
            - "name"
            - "sku"
          additionalProperties: false
        warehouse:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
          required:
            - "id"
            - "name"
          additionalProperties: false
        quantity:
          type: "number"
        organizationSlug:
          type: "string"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "product"
        - "warehouse"
        - "quantity"
        - "organizationSlug"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    StockPerWarehouseRequestParams:
      type: "object"
      properties:
        page:
          default: 1
          type: "number"
          minimum: 1
        limit:
          default: 50
          type: "number"
          minimum: 1
          maximum: 100
        productId:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        warehouseId:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
      required:
        - "page"
        - "limit"
      additionalProperties: false
    StockPerWarehouseListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              product:
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                  sku:
                    type: "string"
                required:
                  - "id"
                  - "name"
                  - "sku"
                additionalProperties: false
              warehouse:
                type: "object"
                properties:
                  id:
                    type: "string"
                    format: "uuid"
                    pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  name:
                    type: "string"
                required:
                  - "id"
                  - "name"
                additionalProperties: false
              quantity:
                type: "number"
              organizationSlug:
                type: "string"
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              updatedAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            required:
              - "id"
              - "product"
              - "warehouse"
              - "quantity"
              - "organizationSlug"
              - "createdAt"
              - "updatedAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    Category:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        parentId:
          nullable: true
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "name"
        - "parentId"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    PaymentMethod:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        icon:
          nullable: true
          type: "string"
        feePercentage:
          nullable: true
          type: "string"
        feeFixed:
          nullable: true
          type: "number"
        requiresReference:
          type: "boolean"
        isActive:
          type: "boolean"
        isDefault:
          type: "boolean"
        createdAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
        updatedAt:
          type: "string"
          format: "date-time"
          pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
      required:
        - "id"
        - "name"
        - "icon"
        - "feePercentage"
        - "feeFixed"
        - "requiresReference"
        - "isActive"
        - "isDefault"
        - "createdAt"
        - "updatedAt"
      additionalProperties: false
    Warehouse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
          pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
        name:
          type: "string"
        address:
          nullable: true
          type: "string"
        isDefault:
          type: "boolean"
        isActive:
          type: "boolean"
      required:
        - "id"
        - "name"
        - "address"
        - "isDefault"
        - "isActive"
      additionalProperties: false
    CategoryListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              name:
                type: "string"
              parentId:
                nullable: true
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              updatedAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            required:
              - "id"
              - "name"
              - "parentId"
              - "createdAt"
              - "updatedAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    CreateCategoryResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            parentId:
              nullable: true
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          required:
            - "id"
            - "name"
            - "parentId"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    GetCategoryByIdResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            parentId:
              nullable: true
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          required:
            - "id"
            - "name"
            - "parentId"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    GetProductByIdResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            description:
              nullable: true
              type: "string"
            category:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            sku:
              type: "string"
            barcode:
              nullable: true
              type: "string"
            oemCode:
              nullable: true
              type: "string"
            currency:
              type: "string"
            cost:
              type: "number"
            price:
              type: "number"
            taxRate:
              type: "object"
              properties:
                id:
                  type: "number"
                value:
                  type: "number"
              required:
                - "id"
                - "value"
              additionalProperties: false
            stockMinimum:
              type: "number"
            defaultSupplier:
              nullable: true
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
              required:
                - "id"
                - "name"
              additionalProperties: false
            productType:
              type: "string"
              enum:
                - "product"
                - "service"
                - "combo"
            isActive:
              type: "boolean"
            organizationSlug:
              type: "string"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            updatedAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            effectivePrice:
              type: "number"
            priceSource:
              type: "string"
              enum:
                - "automatic"
                - "manual_override"
                - "manual_fallback"
                - "base"
            appliedPriceList:
              type: "object"
              properties:
                id:
                  type: "string"
                  format: "uuid"
                  pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                name:
                  type: "string"
                isAutomatic:
                  type: "boolean"
                automaticPricingMode:
                  type: "string"
                  enum:
                    - "base_price_adjustment"
                    - "cost_markup"
                adjustmentPercentage:
                  nullable: true
                  type: "number"
                taxInclusive:
                  type: "boolean"
              required:
                - "id"
                - "name"
                - "isAutomatic"
                - "automaticPricingMode"
                - "adjustmentPercentage"
                - "taxInclusive"
              additionalProperties: false
          required:
            - "id"
            - "name"
            - "description"
            - "category"
            - "sku"
            - "barcode"
            - "oemCode"
            - "currency"
            - "cost"
            - "price"
            - "taxRate"
            - "stockMinimum"
            - "defaultSupplier"
            - "productType"
            - "isActive"
            - "organizationSlug"
            - "createdAt"
            - "updatedAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    PriceListListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              name:
                type: "string"
              isAutomatic:
                type: "boolean"
              automaticPricingMode:
                type: "string"
                enum:
                  - "base_price_adjustment"
                  - "cost_markup"
              adjustmentPercentage:
                nullable: true
                type: "number"
              taxInclusive:
                type: "boolean"
              createdAt:
                type: "string"
                format: "date-time"
                pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
            required:
              - "id"
              - "name"
              - "isAutomatic"
              - "automaticPricingMode"
              - "adjustmentPercentage"
              - "taxInclusive"
              - "createdAt"
            additionalProperties: false
        pagination:
          type: "object"
          properties:
            page:
              type: "number"
              minimum: 1
            limit:
              type: "number"
              minimum: 1
            total:
              type: "number"
              minimum: 0
            totalPages:
              type: "number"
              minimum: 1
          required:
            - "page"
            - "limit"
            - "total"
            - "totalPages"
          additionalProperties: false
      required:
        - "success"
        - "data"
        - "pagination"
      additionalProperties: false
    GetPriceListByIdResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
          enum:
            - true
        data:
          type: "object"
          properties:
            id:
              type: "string"
              format: "uuid"
              pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            name:
              type: "string"
            isAutomatic:
              type: "boolean"
            automaticPricingMode:
              type: "string"
              enum:
                - "base_price_adjustment"
                - "cost_markup"
            adjustmentPercentage:
              nullable: true
              type: "number"
            taxInclusive:
              type: "boolean"
            createdAt:
              type: "string"
              format: "date-time"
              pattern: "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          required:
            - "id"
            - "name"
            - "isAutomatic"
            - "automaticPricingMode"
            - "adjustmentPercentage"
            - "taxInclusive"
            - "createdAt"
          additionalProperties: false
      required:
        - "success"
        - "data"
      additionalProperties: false
    PaymentMethodListResponse:
      type: "object"
      properties:
        success:
          type: "boolean"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
                format: "uuid"
                pattern: "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              name:
                type: "string"
              icon:
                nullable: true
                type: "string"
              feePercentage:
                nullable: true
[...]
