openapi: "3.1.0"
info:
  title: "La Pyme API"
  description: "Resources and workflows for purchases, sales, inventory, contacts, products, reports, and settings."
  version: "1.0.0"
  contact:
    name: "La Pyme Support"
    email: "hola@lapyme.com.ar"
  license:
    name: "Proprietary"
    url: "https://lapyme.com.ar/terminos"
servers:
  - url: "https://api.lapyme.com.ar"
    description: "Servidor de producción"
security:
  - bearerAuth: []
tags:
  - name: "API"
    description: "Public API operations for La Pyme integrations."
x-speakeasy-retries:
  strategy: "backoff"
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
    - "5XX"
  retryConnectionErrors: true
components:
  schemas:
    ApiErrorDetail:
      type: "object"
      properties:
        field:
          type: "string"
        code:
          type: "string"
        message:
          type: "string"
        metadata:
          type: "object"
          propertyNames:
            type: "string"
          additionalProperties:
            anyOf:
              - type: "string"
              - type: "number"
              - type: "boolean"
              - type: "null"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiErrorEnvelope:
      type: "object"
      properties:
        request_id:
          type: "string"
        error:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "api_error"
                - "authentication_error"
                - "authorization_error"
                - "business_error"
                - "external_dependency_error"
                - "idempotency_error"
                - "invalid_request_error"
                - "rate_limit_error"
            code:
              type: "string"
            message:
              type: "string"
            retryable:
              type: "boolean"
            details:
              type: "array"
              items:
                type: "object"
                properties:
                  field:
                    type: "string"
                  code:
                    type: "string"
                  message:
                    type: "string"
                  metadata:
                    type: "object"
                    propertyNames:
                      type: "string"
                    additionalProperties:
                      anyOf:
                        - type: "string"
                        - type: "number"
                        - type: "boolean"
                        - type: "null"
                required:
                  - "code"
                  - "message"
                additionalProperties: false
          required:
            - "type"
            - "code"
            - "message"
            - "retryable"
            - "details"
          additionalProperties: false
      required:
        - "request_id"
        - "error"
      additionalProperties: false
    ApiListMetadata:
      type: "object"
      properties:
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "has_more"
        - "next_cursor"
      additionalProperties: false
    ApiOrganization:
      type: "object"
      properties:
        object:
          type: "string"
          const: "organization"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        slug:
          type: "string"
        legal_name:
          anyOf:
            - type: "string"
            - type: "null"
        logo_url:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - type: "string"
            - type: "null"
        tax_category:
          anyOf:
            - type: "string"
            - type: "null"
        person_type:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        province_id:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        country:
          type: "string"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
            - type: "null"
        rounding_preference:
          anyOf:
            - type: "string"
            - type: "null"
        default_currency:
          type: "string"
          const: "ARS"
        timezone:
          type: "string"
          const: "UTC-3"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "object"
        - "id"
        - "name"
        - "slug"
        - "legal_name"
        - "logo_url"
        - "tax_id"
        - "tax_id_type"
        - "tax_category"
        - "person_type"
        - "address"
        - "apartment"
        - "city"
        - "province_id"
        - "postal_code"
        - "country"
        - "phone"
        - "email"
        - "rounding_preference"
        - "default_currency"
        - "timezone"
        - "created_at"
        - "updated_at"
      additionalProperties: false
    ApiOrganizationResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            object:
              type: "string"
              const: "organization"
            id:
              type: "string"
              format: "uuid"
            name:
              type: "string"
            slug:
              type: "string"
            legal_name:
              anyOf:
                - type: "string"
                - type: "null"
            logo_url:
              anyOf:
                - type: "string"
                - type: "null"
            tax_id:
              anyOf:
                - type: "string"
                - type: "null"
            tax_id_type:
              anyOf:
                - type: "string"
                - type: "null"
            tax_category:
              anyOf:
                - type: "string"
                - type: "null"
            person_type:
              anyOf:
                - type: "string"
                - type: "null"
            address:
              anyOf:
                - type: "string"
                - type: "null"
            apartment:
              anyOf:
                - type: "string"
                - type: "null"
            city:
              anyOf:
                - type: "string"
                - type: "null"
            province_id:
              anyOf:
                - type: "string"
                - type: "null"
            postal_code:
              anyOf:
                - type: "string"
                - type: "null"
            country:
              type: "string"
            phone:
              anyOf:
                - type: "string"
                - type: "null"
            email:
              anyOf:
                - type: "string"
                - type: "null"
            rounding_preference:
              anyOf:
                - type: "string"
                - type: "null"
            default_currency:
              type: "string"
              const: "ARS"
            timezone:
              type: "string"
              const: "UTC-3"
            created_at:
              type: "string"
              format: "date-time"
            updated_at:
              type: "string"
              format: "date-time"
          required:
            - "object"
            - "id"
            - "name"
            - "slug"
            - "legal_name"
            - "logo_url"
            - "tax_id"
            - "tax_id_type"
            - "tax_category"
            - "person_type"
            - "address"
            - "apartment"
            - "city"
            - "province_id"
            - "postal_code"
            - "country"
            - "phone"
            - "email"
            - "rounding_preference"
            - "default_currency"
            - "timezone"
            - "created_at"
            - "updated_at"
          additionalProperties: false
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiTaxRateReference:
      type: "object"
      properties:
        object:
          type: "string"
          const: "tax_rate_reference"
        code:
          type: "integer"
        percentage:
          type: "number"
        description:
          type: "string"
      required:
        - "object"
        - "code"
        - "percentage"
        - "description"
      additionalProperties: false
    ApiTaxRateReferenceListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "tax_rate_reference"
              code:
                type: "integer"
              percentage:
                type: "number"
              description:
                type: "string"
            required:
              - "object"
              - "code"
              - "percentage"
              - "description"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiVoucherTypeReference:
      type: "object"
      properties:
        object:
          type: "string"
          const: "voucher_type_reference"
        code:
          type: "integer"
        abbreviation:
          type: "string"
        document_kind:
          $ref: "#/components/schemas/ApiSharedEnumd52c0ebb9c"
        letter:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum10987946fd"
            - type: "null"
        description:
          type: "string"
      required:
        - "object"
        - "code"
        - "abbreviation"
        - "document_kind"
        - "letter"
        - "description"
      additionalProperties: false
    ApiVoucherTypeReferenceListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "voucher_type_reference"
              code:
                type: "integer"
              abbreviation:
                type: "string"
              document_kind:
                $ref: "#/components/schemas/ApiSharedEnumd52c0ebb9c"
              letter:
                anyOf:
                  - $ref: "#/components/schemas/ApiSharedEnum10987946fd"
                  - type: "null"
              description:
                type: "string"
            required:
              - "object"
              - "code"
              - "abbreviation"
              - "document_kind"
              - "letter"
              - "description"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
        object:
          $ref: "#/components/schemas/ApiSharedEnum8d46e1ec20"
        url:
          type: "string"
          description: "Requested list path."
      required:
        - "request_id"
        - "data"
        - "has_more"
        - "next_cursor"
        - "object"
        - "url"
      additionalProperties: false
    ApiSupplier:
      type: "object"
      properties:
        object:
          type: "string"
          const: "supplier"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - type: "string"
            - type: "null"
        tax_category:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        is_active:
          anyOf:
            - type: "boolean"
            - type: "null"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject8a94344083"
      required:
        - "object"
        - "id"
        - "name"
        - "company_name"
        - "description"
        - "email"
        - "phone"
        - "tax_id"
        - "tax_id_type"
        - "tax_category"
        - "payment_term_id"
        - "payment_term_days"
        - "is_active"
        - "tags"
      additionalProperties: false
    ApiSupplierDetail:
      type: "object"
      properties:
        object:
          type: "string"
          const: "supplier"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - type: "string"
            - type: "null"
        tax_category:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        is_active:
          anyOf:
            - type: "boolean"
            - type: "null"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject8a94344083"
        country:
          anyOf:
            - type: "string"
            - type: "null"
        province_id:
          anyOf:
            - type: "string"
            - type: "null"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "object"
        - "id"
        - "name"
        - "company_name"
        - "description"
        - "email"
        - "phone"
        - "tax_id"
        - "tax_id_type"
        - "tax_category"
        - "payment_term_id"
        - "payment_term_days"
        - "is_active"
        - "tags"
        - "country"
        - "province_id"
        - "city"
        - "address"
        - "apartment"
        - "postal_code"
        - "created_at"
        - "updated_at"
      additionalProperties: false
    ApiSupplierMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
              format: "email"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum250b15b651"
            - type: "null"
        tax_category:
          $ref: "#/components/schemas/ApiSharedEnumbb2864ecea"
        country:
          type: "string"
        province:
          type: "string"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        is_active:
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiSupplierUpdateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        company_name:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        email:
          anyOf:
            - type: "string"
              format: "email"
            - type: "null"
        phone:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id:
          anyOf:
            - type: "string"
            - type: "null"
        tax_id_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum250b15b651"
            - type: "null"
        tax_category:
          $ref: "#/components/schemas/ApiSharedEnumbb2864ecea"
        country:
          type: "string"
        province:
          type: "string"
        city:
          anyOf:
            - type: "string"
            - type: "null"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        apartment:
          anyOf:
            - type: "string"
            - type: "null"
        postal_code:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_id:
          anyOf:
            - type: "string"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        is_active:
          type: "boolean"
      additionalProperties: false
    ApiSupplierCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            supplier:
              $ref: "#/components/schemas/ApiSharedObject3028e7f4b3"
            idempotent_replay:
              type: "boolean"
          required:
            - "supplier"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiSupplierUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            supplier:
              $ref: "#/components/schemas/ApiSharedObject3028e7f4b3"
          required:
            - "supplier"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiCategory:
      type: "object"
      properties:
        object:
          type: "string"
          const: "category"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_economic_activity:
          anyOf:
            - type: "string"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "object"
        - "id"
        - "name"
        - "parent_id"
        - "default_economic_activity"
        - "created_at"
        - "updated_at"
      additionalProperties: false
    ApiCategoryMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        default_economic_activity:
          anyOf:
            - type: "string"
              pattern: "^\\d{6}$"
            - type: "null"
      required:
        - "name"
      additionalProperties: false
    ApiCategoryCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            category:
              $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
            idempotent_replay:
              type: "boolean"
          required:
            - "category"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiCategoryUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            category:
              $ref: "#/components/schemas/ApiSharedObjectd8582ce697"
          required:
            - "category"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiWarehouse:
      type: "object"
      properties:
        object:
          type: "string"
          const: "warehouse"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
        is_active:
          type: "boolean"
        points_of_sale_count:
          type: "integer"
          minimum: 0
        member_count:
          type: "integer"
          minimum: 0
        register_count:
          type: "integer"
          minimum: 0
      required:
        - "object"
        - "id"
        - "name"
        - "address"
        - "is_default"
        - "is_active"
        - "points_of_sale_count"
        - "member_count"
        - "register_count"
      additionalProperties: false
    ApiWarehouseDetail:
      type: "object"
      properties:
        object:
          type: "string"
          const: "warehouse"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
        is_active:
          type: "boolean"
      required:
        - "object"
        - "id"
        - "name"
        - "address"
        - "is_default"
        - "is_active"
      additionalProperties: false
    ApiWarehouseMutationRequest:
      type: "object"
      properties:
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          default: false
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiWarehouseUpdateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        address:
          anyOf:
            - type: "string"
            - type: "null"
        is_default:
          type: "boolean"
      required:
        - "name"
      additionalProperties: false
    ApiWarehouseCreateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            warehouse:
              $ref: "#/components/schemas/ApiSharedObjectadcf6da6ce"
            idempotent_replay:
              type: "boolean"
          required:
            - "warehouse"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiWarehouseUpdateResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            warehouse:
              $ref: "#/components/schemas/ApiSharedObjectadcf6da6ce"
          required:
            - "warehouse"
          additionalProperties: false
        warnings:
          type: "array"
          items: {}
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPurchaseIssue:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        field:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiPurchaseNormalizedLine:
      type: "object"
      properties:
        product_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        product_name:
          anyOf:
            - type: "string"
            - type: "null"
        sku:
          anyOf:
            - type: "string"
            - type: "null"
        name:
          anyOf:
            - type: "string"
            - type: "null"
        quantity:
          type: "number"
          exclusiveMinimum: 0
        unit_cost:
          type: "integer"
          minimum: 0
        subtotal:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        total:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_rate_id:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        is_exempt:
          type: "boolean"
        discount_percentage:
          anyOf:
            - type: "number"
              minimum: 0
              maximum: 100
            - type: "null"
        purchase_order_item_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        vat_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
            - type: "null"
        account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        account_name:
          anyOf:
            - type: "string"
            - type: "null"
        cost_center1_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center1_name:
          anyOf:
            - type: "string"
            - type: "null"
        cost_center2_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center2_name:
          anyOf:
            - type: "string"
            - type: "null"
        cost_center3_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center3_name:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "product_id"
        - "product_name"
        - "sku"
        - "name"
        - "quantity"
        - "unit_cost"
        - "subtotal"
        - "total"
        - "tax_rate_id"
        - "is_exempt"
        - "discount_percentage"
        - "purchase_order_item_id"
        - "vat_category"
        - "account_id"
        - "account_name"
        - "cost_center1_id"
        - "cost_center1_name"
        - "cost_center2_id"
        - "cost_center2_name"
        - "cost_center3_id"
        - "cost_center3_name"
      additionalProperties: false
    ApiPurchaseNormalizedSnapshot:
      type: "object"
      properties:
        supplier_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        voucher_type:
          type: "integer"
          minimum: 1
        supplier_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
        invoice_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha del comprobante en formato YYYY-MM-DD."
        account_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
        due_date:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
        payment_term_id:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
          description: "ID de la factura comercial asociada al despacho aduanero."
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          anyOf:
            - type: "string"
            - type: "null"
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        products_received:
          type: "boolean"
        products_returned:
          type: "boolean"
        inventory_effect:
          $ref: "#/components/schemas/ApiSharedEnumde48b709b2"
        update_product_variant_cost:
          type: "boolean"
        currency:
          $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        subtotal:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        total:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        discount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        exempt_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        non_taxed_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        base_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        vat_perception_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        national_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        gross_income_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        municipal_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        internal_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        other_tax_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        pdf_path:
          anyOf:
            - type: "string"
            - type: "null"
        manual_account_allocations:
          type: "object"
          propertyNames:
            type: "string"
          additionalProperties:
            type: "string"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectbf19ed87b4"
      required:
        - "supplier_id"
        - "voucher_type"
        - "supplier_invoice_number"
        - "invoice_date"
        - "account_date"
        - "due_date"
        - "payment_term_id"
        - "payment_term_days"
        - "import_document_role"
        - "import_source_purchase_id"
        - "import_nationalization_status"
        - "customs_dispatch_number"
        - "warehouse_id"
        - "products_received"
        - "products_returned"
        - "inventory_effect"
        - "update_product_variant_cost"
        - "currency"
        - "exchange_rate"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "discount"
        - "exempt_amount"
        - "non_taxed_amount"
        - "base_amount"
        - "vat_perception_amount"
        - "national_tax_amount"
        - "gross_income_tax_amount"
        - "municipal_tax_amount"
        - "internal_tax_amount"
        - "other_tax_amount"
        - "notes"
        - "pdf_path"
        - "manual_account_allocations"
        - "items"
      additionalProperties: false
    ApiPurchaseProjectedEffects:
      type: "object"
      properties:
        inventory:
          $ref: "#/components/schemas/ApiSharedObjectb451a3d8de"
        accounting:
          $ref: "#/components/schemas/ApiSharedObjectc482130d79"
      required:
        - "inventory"
        - "accounting"
      additionalProperties: false
    ApiPurchaseCommitResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            purchase_id:
              type: "string"
              format: "uuid"
            receipt_created:
              type: "boolean"
            idempotent_replay:
              type: "boolean"
            normalized_purchase:
              type: "object"
              properties:
                supplier_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                voucher_type:
                  type: "integer"
                  minimum: 1
                supplier_invoice_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
                invoice_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha del comprobante en formato YYYY-MM-DD."
                account_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha contable de la compra en formato YYYY-MM-DD."
                due_date:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Fecha de vencimiento en formato YYYY-MM-DD."
                payment_term_id:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
                    - type: "null"
                payment_term_days:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                      maximum: 365
                      description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
                    - type: "null"
                import_document_role:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
                    - type: "null"
                  description: "Rol del comprobante dentro del flujo de importacion."
                import_source_purchase_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                  description: "ID de la factura comercial asociada al despacho aduanero."
                import_nationalization_status:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
                    - type: "null"
                  description: "Estado de nacionalizacion de la factura comercial de importacion."
                customs_dispatch_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                  description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
                warehouse_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                products_received:
                  type: "boolean"
                products_returned:
                  type: "boolean"
                inventory_effect:
                  $ref: "#/components/schemas/ApiSharedEnumde48b709b2"
                update_product_variant_cost:
                  type: "boolean"
                currency:
                  $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
                exchange_rate:
                  type: "number"
                  exclusiveMinimum: 0
                subtotal:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                total:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                discount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                exempt_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                non_taxed_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                base_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                vat_perception_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                national_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                gross_income_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                municipal_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                internal_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                other_tax_amount:
                  anyOf:
                    - type: "integer"
                      minimum: 0
                    - type: "null"
                notes:
                  anyOf:
                    - type: "string"
                    - type: "null"
                pdf_path:
                  anyOf:
                    - type: "string"
                    - type: "null"
                manual_account_allocations:
                  type: "object"
                  propertyNames:
                    type: "string"
                  additionalProperties:
                    type: "string"
                items:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObjectbf19ed87b4"
              required:
                - "supplier_id"
                - "voucher_type"
                - "supplier_invoice_number"
                - "invoice_date"
                - "account_date"
                - "due_date"
                - "payment_term_id"
                - "payment_term_days"
                - "import_document_role"
                - "import_source_purchase_id"
                - "import_nationalization_status"
                - "customs_dispatch_number"
                - "warehouse_id"
                - "products_received"
                - "products_returned"
                - "inventory_effect"
                - "update_product_variant_cost"
                - "currency"
                - "exchange_rate"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "discount"
                - "exempt_amount"
                - "non_taxed_amount"
                - "base_amount"
                - "vat_perception_amount"
                - "national_tax_amount"
                - "gross_income_tax_amount"
                - "municipal_tax_amount"
                - "internal_tax_amount"
                - "other_tax_amount"
                - "notes"
                - "pdf_path"
                - "manual_account_allocations"
                - "items"
              additionalProperties: false
            projected_effects:
              type: "object"
              properties:
                inventory:
                  $ref: "#/components/schemas/ApiSharedObjectb451a3d8de"
                accounting:
                  $ref: "#/components/schemas/ApiSharedObjectc482130d79"
              required:
                - "inventory"
                - "accounting"
              additionalProperties: false
          required:
            - "purchase_id"
            - "receipt_created"
            - "idempotent_replay"
            - "normalized_purchase"
            - "projected_effects"
          additionalProperties: false
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectc671832641"
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiPurchaseTransactionRequest:
      type: "object"
      properties:
        supplier_id:
          type: "string"
          format: "uuid"
        voucher_type:
          type: "integer"
          minimum: 1
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          description: "ID de la factura comercial asociada al despacho aduanero."
          type: "string"
          format: "uuid"
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
          type: "string"
        supplier_invoice_number:
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
          type: "string"
        invoice_date:
          description: "Fecha del comprobante en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        account_date:
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        due_date:
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        payment_term_id:
          anyOf:
            - anyOf:
                - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
                - type: "null"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        vat_perception_amount:
          type: "integer"
          minimum: 0
        national_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_tax_amount:
          type: "integer"
          minimum: 0
        internal_tax_amount:
          type: "integer"
          minimum: 0
        other_tax_amount:
          type: "integer"
          minimum: 0
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        products_received:
          type: "boolean"
        products_returned:
          description: "If true, a supplier credit note returns product quantities from the selected warehouse. Requires warehouseId. Invalid on non-credit purchases."
          type: "boolean"
        update_product_variant_cost:
          type: "boolean"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjecta0d0e49f42"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        discount:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        base_amount:
          type: "integer"
          minimum: 0
        vat_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectfb7405a472"
        manual_account_allocations:
          $ref: "#/components/schemas/ApiSharedObjectbea003a73d"
        notes:
          type: "string"
        currency:
          $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        pdf_path:
          type: "string"
        vat_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
            - type: "null"
        status:
          type: "string"
          enum:
            - "draft"
            - "confirmed"
      required:
        - "voucher_type"
        - "currency"
      additionalProperties: false
    ApiPurchaseUpdateRequest:
      type: "object"
      properties:
        supplier_id:
          type: "string"
          format: "uuid"
        voucher_type:
          type: "integer"
          minimum: 1
        import_document_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum9e7af09974"
            - type: "null"
          description: "Rol del comprobante dentro del flujo de importacion."
        import_source_purchase_id:
          description: "ID de la factura comercial asociada al despacho aduanero."
          type: "string"
          format: "uuid"
        import_nationalization_status:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumf0d69c3d87"
            - type: "null"
          description: "Estado de nacionalizacion de la factura comercial de importacion."
        customs_dispatch_number:
          description: "Numero de despacho aduanero informado por el proveedor. Hasta 32 caracteres."
          type: "string"
        supplier_invoice_number:
          description: "Numero de comprobante del proveedor. Hasta 120 caracteres."
          type: "string"
        invoice_date:
          description: "Fecha del comprobante en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        account_date:
          description: "Fecha contable de la compra en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        due_date:
          description: "Fecha de vencimiento en formato YYYY-MM-DD."
          type: "string"
          format: "date"
        payment_term_id:
          anyOf:
            - anyOf:
                - $ref: "#/components/schemas/ApiSharedEnumd34af90520"
                - type: "null"
            - type: "null"
        payment_term_days:
          anyOf:
            - type: "integer"
              minimum: 0
              maximum: 365
              description: "Cantidad de días hasta el vencimiento. Usá 0 para Contado. Se prefiere sobre paymentTermId."
            - type: "null"
        vat_perception_amount:
          type: "integer"
          minimum: 0
        national_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_tax_amount:
          type: "integer"
          minimum: 0
        internal_tax_amount:
          type: "integer"
          minimum: 0
        other_tax_amount:
          type: "integer"
          minimum: 0
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        products_received:
          type: "boolean"
        products_returned:
          description: "If true, a supplier credit note returns product quantities from the selected warehouse. Requires warehouseId. Invalid on non-credit purchases."
          type: "boolean"
        update_product_variant_cost:
          type: "boolean"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjecta0d0e49f42"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        discount:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        base_amount:
          type: "integer"
          minimum: 0
        vat_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectfb7405a472"
        manual_account_allocations:
          $ref: "#/components/schemas/ApiSharedObjectbea003a73d"
        notes:
          type: "string"
        currency:
          $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        pdf_path:
          type: "string"
        vat_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum822a963f55"
            - type: "null"
      required:
        - "voucher_type"
        - "items"
        - "currency"
      additionalProperties: false
    ApiPurchaseTransactionSuccessResponse:
      $ref: "#/components/schemas/ApiPurchaseCommitResponse"
    ApiSaleIssue:
      type: "object"
      properties:
        code:
          type: "string"
        message:
          type: "string"
        field:
          type: "string"
      required:
        - "code"
        - "message"
      additionalProperties: false
    ApiSaleNormalizedPayment:
      type: "object"
      properties:
        method_id:
          type: "string"
          format: "uuid"
        amount:
          type: "integer"
          exclusiveMinimum: 0
        description:
          anyOf:
            - type: "string"
            - type: "null"
        reference:
          anyOf:
            - type: "string"
            - type: "null"
        fee_amount:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        terminal_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        card_batch_number:
          anyOf:
            - type: "string"
            - type: "null"
        card_coupon_number:
          anyOf:
            - type: "string"
            - type: "null"
        card_installment_plan_code:
          anyOf:
            - type: "string"
            - type: "null"
        card_brand:
          anyOf:
            - type: "string"
            - type: "null"
        cash_source:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObjectf61e74f9c5"
            - type: "null"
      required:
        - "method_id"
        - "amount"
        - "description"
        - "reference"
        - "fee_amount"
        - "terminal_id"
        - "card_batch_number"
        - "card_coupon_number"
        - "card_installment_plan_code"
        - "card_brand"
        - "cash_source"
      additionalProperties: false
    ApiSaleNormalizedLine:
      type: "object"
      properties:
        product_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        product_name:
          anyOf:
            - type: "string"
            - type: "null"
        sku:
          anyOf:
            - type: "string"
            - type: "null"
        warehouse_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        name:
          anyOf:
            - type: "string"
            - type: "null"
        product_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnumff49232140"
            - type: "null"
        quantity:
          type: "number"
          exclusiveMinimum: 0
        unit_price:
          type: "integer"
          minimum: 0
        unit_cost:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        tax_rate_id:
          anyOf:
            - type: "integer"
              minimum: 0
            - type: "null"
        is_exempt:
          type: "boolean"
        discount:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObject16c3799d74"
            - type: "null"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        account_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        line_type:
          $ref: "#/components/schemas/ApiSharedEnum4e55733f20"
        cost_center1_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center2_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center3_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
      required:
        - "product_id"
        - "product_name"
        - "sku"
        - "warehouse_id"
        - "name"
        - "product_type"
        - "quantity"
        - "unit_price"
        - "unit_cost"
        - "tax_rate_id"
        - "is_exempt"
        - "discount"
        - "notes"
        - "account_id"
        - "line_type"
        - "cost_center1_id"
        - "cost_center2_id"
        - "cost_center3_id"
      additionalProperties: false
    ApiSaleNormalizedSnapshot:
      type: "object"
      properties:
        customer_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        customer_tax_category_override:
          anyOf:
            - type: "string"
            - type: "null"
        voucher_type:
          anyOf:
            - type: "integer"
              minimum: 1
              maximum: 95
            - type: "number"
              const: 201
            - type: "number"
              const: 206
            - type: "number"
              const: 211
        point_of_sale_id:
          type: "string"
          format: "uuid"
        register_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        operator_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        service_from:
          anyOf:
            - type: "string"
              format: "date"
            - type: "null"
        service_to:
          anyOf:
            - type: "string"
              format: "date"
            - type: "null"
        currency:
          $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
        exchange_rate:
          anyOf:
            - type: "number"
              exclusiveMinimum: 0
            - type: "null"
        same_currency_payment:
          type: "boolean"
        notes:
          anyOf:
            - type: "string"
            - type: "null"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        tributes_amount:
          type: "integer"
          minimum: 0
        national_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_perception_amount:
          type: "integer"
          minimum: 0
        internal_tribute_amount:
          type: "integer"
          minimum: 0
        uncategorized_vat_perception_amount:
          type: "integer"
          minimum: 0
        other_tribute_amount:
          type: "integer"
          minimum: 0
        discount_type:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
            - type: "null"
        discount_value:
          anyOf:
            - type: "number"
              minimum: 0
            - type: "null"
        discount_amount:
          type: "integer"
          minimum: 0
        balance:
          type: "number"
        is_full_amount_pending:
          type: "boolean"
        items:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject55e2bcf4a7"
        payment_methods:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjecte4ddc41067"
      required:
        - "customer_id"
        - "customer_tax_category_override"
        - "voucher_type"
        - "point_of_sale_id"
        - "register_id"
        - "operator_id"
        - "invoice_date"
        - "due_date"
        - "service_from"
        - "service_to"
        - "currency"
        - "exchange_rate"
        - "same_currency_payment"
        - "notes"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "exempt_amount"
        - "non_taxed_amount"
        - "tributes_amount"
        - "national_perception_amount"
        - "gross_income_perception_amount"
        - "gross_income_tax_breakdown"
        - "municipal_perception_amount"
        - "internal_tribute_amount"
        - "uncategorized_vat_perception_amount"
        - "other_tribute_amount"
        - "discount_type"
        - "discount_value"
        - "discount_amount"
        - "balance"
        - "is_full_amount_pending"
        - "items"
        - "payment_methods"
      additionalProperties: false
    ApiSaleProjectedEffects:
      type: "object"
      properties:
        inventory:
          $ref: "#/components/schemas/ApiSharedObject6a71e7888b"
        accounting:
          $ref: "#/components/schemas/ApiSharedObject9428e7100c"
        fiscal:
          $ref: "#/components/schemas/ApiSharedObject3563932f8e"
        payments:
          $ref: "#/components/schemas/ApiSharedObject8e516a9b19"
      required:
        - "inventory"
        - "accounting"
        - "fiscal"
        - "payments"
      additionalProperties: false
    ApiSalePersistedSnapshot:
      type: "object"
      properties:
        sale_id:
          type: "string"
          format: "uuid"
        invoice_pdf:
          anyOf:
            - type: "string"
            - type: "null"
        customer_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        voucher_type:
          type: "string"
        point_of_sale_id:
          type: "string"
          format: "uuid"
        invoice_number:
          anyOf:
            - type: "integer"
            - type: "null"
        formatted_invoice_number:
          anyOf:
            - type: "string"
            - type: "null"
        invoice_status:
          $ref: "#/components/schemas/ApiSharedEnum9ac70a3316"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        currency:
          type: "string"
        subtotal:
          type: "integer"
          minimum: 0
        tax_amount:
          type: "integer"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
        exempt_amount:
          type: "integer"
          minimum: 0
        non_taxed_amount:
          type: "integer"
          minimum: 0
        tributes_amount:
          type: "integer"
          minimum: 0
        discount_amount:
          type: "integer"
        balance:
          type: "number"
        created_at:
          type: "string"
          format: "date-time"
      required:
        - "sale_id"
        - "invoice_pdf"
        - "customer_id"
        - "voucher_type"
        - "point_of_sale_id"
        - "invoice_number"
        - "formatted_invoice_number"
        - "invoice_status"
        - "invoice_date"
        - "due_date"
        - "currency"
        - "subtotal"
        - "tax_amount"
        - "total"
        - "exempt_amount"
        - "non_taxed_amount"
        - "tributes_amount"
        - "discount_amount"
        - "balance"
        - "created_at"
      additionalProperties: false
    ApiSaleCommitResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            sale:
              type: "object"
              properties:
                sale_id:
                  type: "string"
                  format: "uuid"
                invoice_pdf:
                  anyOf:
                    - type: "string"
                    - type: "null"
                customer_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                voucher_type:
                  type: "string"
                point_of_sale_id:
                  type: "string"
                  format: "uuid"
                invoice_number:
                  anyOf:
                    - type: "integer"
                    - type: "null"
                formatted_invoice_number:
                  anyOf:
                    - type: "string"
                    - type: "null"
                invoice_status:
                  $ref: "#/components/schemas/ApiSharedEnum9ac70a3316"
                invoice_date:
                  type: "string"
                  format: "date"
                due_date:
                  type: "string"
                  format: "date"
                currency:
                  type: "string"
                subtotal:
                  type: "integer"
                  minimum: 0
                tax_amount:
                  type: "integer"
                  minimum: 0
                total:
                  type: "integer"
                  minimum: 0
                exempt_amount:
                  type: "integer"
                  minimum: 0
                non_taxed_amount:
                  type: "integer"
                  minimum: 0
                tributes_amount:
                  type: "integer"
                  minimum: 0
                discount_amount:
                  type: "integer"
                balance:
                  type: "number"
                created_at:
                  type: "string"
                  format: "date-time"
              required:
                - "sale_id"
                - "invoice_pdf"
                - "customer_id"
                - "voucher_type"
                - "point_of_sale_id"
                - "invoice_number"
                - "formatted_invoice_number"
                - "invoice_status"
                - "invoice_date"
                - "due_date"
                - "currency"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "exempt_amount"
                - "non_taxed_amount"
                - "tributes_amount"
                - "discount_amount"
                - "balance"
                - "created_at"
              additionalProperties: false
            normalized_sale:
              type: "object"
              properties:
                customer_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                customer_tax_category_override:
                  anyOf:
                    - type: "string"
                    - type: "null"
                voucher_type:
                  anyOf:
                    - type: "integer"
                      minimum: 1
                      maximum: 95
                    - type: "number"
                      const: 201
                    - type: "number"
                      const: 206
                    - type: "number"
                      const: 211
                point_of_sale_id:
                  type: "string"
                  format: "uuid"
                register_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                operator_id:
                  anyOf:
                    - type: "string"
                      format: "uuid"
                    - type: "null"
                invoice_date:
                  type: "string"
                  format: "date"
                due_date:
                  type: "string"
                  format: "date"
                service_from:
                  anyOf:
                    - type: "string"
                      format: "date"
                    - type: "null"
                service_to:
                  anyOf:
                    - type: "string"
                      format: "date"
                    - type: "null"
                currency:
                  $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
                exchange_rate:
                  anyOf:
                    - type: "number"
                      exclusiveMinimum: 0
                    - type: "null"
                same_currency_payment:
                  type: "boolean"
                notes:
                  anyOf:
                    - type: "string"
                    - type: "null"
                subtotal:
                  type: "integer"
                  minimum: 0
                tax_amount:
                  type: "integer"
                  minimum: 0
                total:
                  type: "integer"
                  minimum: 0
                exempt_amount:
                  type: "integer"
                  minimum: 0
                non_taxed_amount:
                  type: "integer"
                  minimum: 0
                tributes_amount:
                  type: "integer"
                  minimum: 0
                national_perception_amount:
                  type: "integer"
                  minimum: 0
                gross_income_perception_amount:
                  type: "integer"
                  minimum: 0
                gross_income_tax_breakdown:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObject95929ea589"
                municipal_perception_amount:
                  type: "integer"
                  minimum: 0
                internal_tribute_amount:
                  type: "integer"
                  minimum: 0
                uncategorized_vat_perception_amount:
                  type: "integer"
                  minimum: 0
                other_tribute_amount:
                  type: "integer"
                  minimum: 0
                discount_type:
                  anyOf:
                    - $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
                    - type: "null"
                discount_value:
                  anyOf:
                    - type: "number"
                      minimum: 0
                    - type: "null"
                discount_amount:
                  type: "integer"
                  minimum: 0
                balance:
                  type: "number"
                is_full_amount_pending:
                  type: "boolean"
                items:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObject55e2bcf4a7"
                payment_methods:
                  type: "array"
                  items:
                    $ref: "#/components/schemas/ApiSharedObjecte4ddc41067"
              required:
                - "customer_id"
                - "customer_tax_category_override"
                - "voucher_type"
                - "point_of_sale_id"
                - "register_id"
                - "operator_id"
                - "invoice_date"
                - "due_date"
                - "service_from"
                - "service_to"
                - "currency"
                - "exchange_rate"
                - "same_currency_payment"
                - "notes"
                - "subtotal"
                - "tax_amount"
                - "total"
                - "exempt_amount"
                - "non_taxed_amount"
                - "tributes_amount"
                - "national_perception_amount"
                - "gross_income_perception_amount"
                - "gross_income_tax_breakdown"
                - "municipal_perception_amount"
                - "internal_tribute_amount"
                - "uncategorized_vat_perception_amount"
                - "other_tribute_amount"
                - "discount_type"
                - "discount_value"
                - "discount_amount"
                - "balance"
                - "is_full_amount_pending"
                - "items"
                - "payment_methods"
              additionalProperties: false
            projected_effects:
              type: "object"
              properties:
                inventory:
                  $ref: "#/components/schemas/ApiSharedObject6a71e7888b"
                accounting:
                  $ref: "#/components/schemas/ApiSharedObject9428e7100c"
                fiscal:
                  $ref: "#/components/schemas/ApiSharedObject3563932f8e"
                payments:
                  $ref: "#/components/schemas/ApiSharedObject8e516a9b19"
              required:
                - "inventory"
                - "accounting"
                - "fiscal"
                - "payments"
              additionalProperties: false
            idempotent_replay:
              type: "boolean"
          required:
            - "sale"
            - "normalized_sale"
            - "projected_effects"
            - "idempotent_replay"
          additionalProperties: false
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObjectc671832641"
      required:
        - "request_id"
        - "data"
        - "warnings"
      additionalProperties: false
    ApiSaleTransactionRequest:
      type: "object"
      properties:
        customer_id:
          type: "string"
          format: "uuid"
        customer_tax_category_override:
          type: "string"
        voucher_type:
          anyOf:
            - type: "integer"
              minimum: 1
              maximum: 95
            - type: "number"
              const: 201
            - type: "number"
              const: 206
            - type: "number"
              const: 211
        point_of_sale_id:
          type: "string"
          format: "uuid"
        register_id:
          type: "string"
          format: "uuid"
        operator_id:
          type: "string"
          format: "uuid"
        integration_source:
          description: "Fuente de integracion externa para buscar/conciliar la venta. Debe enviarse junto con integrationId."
          type: "string"
        integration_id:
          description: "ID de referencia externa visible en la venta. Debe enviarse junto con integrationSource; no se deriva del header Idempotency-Key."
          type: "string"
        invoice_date:
          type: "string"
          format: "date"
        due_date:
          type: "string"
          format: "date"
        service_from:
          type: "string"
          format: "date"
        service_to:
          type: "string"
          format: "date"
        currency:
          $ref: "#/components/schemas/ApiSharedEnumffb4886f2b"
        exchange_rate:
          type: "number"
          exclusiveMinimum: 0
        same_currency_payment:
          type: "boolean"
        notes:
          type: "string"
        items:
          minItems: 1
          type: "array"
          items:
            type: "object"
            properties:
              product_id:
                type: "string"
                format: "uuid"
              warehouse_id:
                type: "string"
                format: "uuid"
              unit_cost:
                type: "integer"
                minimum: 0
              name:
                type: "string"
              product_type:
                type: "string"
                enum:
                  - "product"
                  - "service"
              tax_rate_id:
                type: "integer"
                minimum: 0
              is_exempt:
                type: "boolean"
              quantity:
                type: "number"
                exclusiveMinimum: 0
              unit_price:
                type: "integer"
                minimum: 0
                description: "Importe unitario en centavos. Para comprobantes A (1, 2 y 3), enviá el importe neto sin IVA. Para comprobantes a consumidor final, incluidos B (6, 7 y 8) y presupuesto (90), enviá el importe final con IVA incluido."
              discount:
                $ref: "#/components/schemas/ApiSharedObject16c3799d74"
              notes:
                type: "string"
              account_id:
                type: "string"
                format: "uuid"
              line_type:
                $ref: "#/components/schemas/ApiSharedEnum4e55733f20"
              cost_center1_id:
                type: "string"
                format: "uuid"
              cost_center2_id:
                type: "string"
                format: "uuid"
              cost_center3_id:
                type: "string"
                format: "uuid"
            required:
              - "quantity"
              - "unit_price"
            additionalProperties: false
        discount_type:
          $ref: "#/components/schemas/ApiSharedEnum539fdceccc"
        discount_value:
          type: "number"
          minimum: 0
        total:
          type: "integer"
          minimum: 0
          description: "Total final esperado en centavos. La API lo compara con el total canónico antes de crear la venta o cualquier efecto durable."
        national_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_perception_amount:
          type: "integer"
          minimum: 0
        gross_income_tax_breakdown:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject95929ea589"
        municipal_perception_amount:
          type: "integer"
          minimum: 0
        internal_tribute_amount:
          type: "integer"
          minimum: 0
        uncategorized_vat_perception_amount:
          type: "integer"
          minimum: 0
        other_tribute_amount:
          type: "integer"
          minimum: 0
        payment_methods:
          type: "array"
          items:
            type: "object"
            properties:
              method_id:
                type: "string"
                format: "uuid"
              amount:
                type: "integer"
                exclusiveMinimum: 0
              description:
                type: "string"
              reference:
                type: "string"
              fee_amount:
                type: "integer"
                minimum: 0
              terminal_id:
                type: "string"
                format: "uuid"
              card_batch_number:
                type: "string"
              card_coupon_number:
                type: "string"
              card_installment_plan_code:
                type: "string"
              card_brand:
                type: "string"
              register_id:
                description: "ID de caja para pagos en efectivo. Usá cashSource en integraciones nuevas."
                type: "string"
                format: "uuid"
              safe_id:
                description: "ID de caja fuerte para pagos en efectivo. Usá cashSource en integraciones nuevas."
                type: "string"
                format: "uuid"
              cash_source:
                description: "Origen de efectivo para pagos cash. No combinar con registerId o safeId."
                type: "object"
                properties:
                  type:
                    $ref: "#/components/schemas/ApiSharedEnum459535dab3"
                  id:
                    type: "string"
                    format: "uuid"
                    description: "ID de la caja o caja fuerte."
                required:
                  - "type"
                  - "id"
                additionalProperties: false
            required:
              - "method_id"
              - "amount"
            additionalProperties: false
        is_full_amount_pending:
          type: "boolean"
      required:
        - "voucher_type"
        - "point_of_sale_id"
        - "invoice_date"
        - "currency"
        - "items"
        - "total"
      additionalProperties: false
    ApiSaleTransactionSuccessResponse:
      $ref: "#/components/schemas/ApiSaleCommitResponse"
    ApiAccountingEvidence:
      type: "object"
      properties:
        object:
          type: "string"
          const: "accounting_evidence"
        status:
          $ref: "#/components/schemas/ApiSharedEnum8b51d9e8f5"
        journal_entry_ids:
          type: "array"
          items:
            type: "string"
            format: "uuid"
        journal_entries_url:
          anyOf:
            - type: "string"
            - type: "null"
        warnings:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject76de9df039"
      required:
        - "object"
        - "status"
        - "journal_entry_ids"
        - "journal_entries_url"
        - "warnings"
      additionalProperties: false
    ApiAccount:
      type: "object"
      properties:
        object:
          type: "string"
          const: "account"
        id:
          type: "string"
          format: "uuid"
        code:
          anyOf:
            - type: "string"
            - type: "null"
        name:
          type: "string"
      required:
        - "object"
        - "id"
        - "code"
        - "name"
      additionalProperties: false
    ApiJournalEntryLine:
      type: "object"
      properties:
        object:
          type: "string"
          const: "journal_entry_line"
        id:
          type: "string"
          format: "uuid"
        account:
          $ref: "#/components/schemas/ApiSharedObject6f6a8f3873"
        debit:
          type: "integer"
        credit:
          type: "integer"
        entered_debit:
          anyOf:
            - type: "integer"
            - type: "null"
        entered_credit:
          anyOf:
            - type: "integer"
            - type: "null"
        currency:
          type: "string"
        contact:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedObjectede6d90fef"
            - type: "null"
        cost_centers:
          type: "object"
          propertyNames:
            type: "string"
          additionalProperties: {}
        description:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "object"
        - "id"
        - "account"
        - "debit"
        - "credit"
        - "entered_debit"
        - "entered_credit"
        - "currency"
        - "contact"
        - "cost_centers"
        - "description"
      additionalProperties: false
    ApiJournalEntry:
      type: "object"
      properties:
        object:
          type: "string"
          const: "journal_entry"
        id:
          type: "string"
          format: "uuid"
        entry_number:
          anyOf:
            - type: "integer"
            - type: "null"
        date:
          type: "string"
          format: "date"
        description:
          type: "string"
        reference:
          anyOf:
            - type: "string"
            - type: "null"
        source_type:
          anyOf:
            - type: "string"
            - type: "null"
        source_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        currency:
          type: "string"
        exchange_rate:
          anyOf:
            - type: "number"
            - type: "null"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        lines:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject5785340ece"
      required:
        - "object"
        - "id"
        - "entry_number"
        - "date"
        - "description"
        - "reference"
        - "source_type"
        - "source_id"
        - "currency"
        - "exchange_rate"
        - "created_at"
        - "updated_at"
        - "lines"
      additionalProperties: false
    ApiJournalEntriesListResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        object:
          type: "string"
          const: "list"
        url:
          type: "string"
        data:
          type: "array"
          items:
            type: "object"
            properties:
              object:
                type: "string"
                const: "journal_entry"
              id:
                type: "string"
                format: "uuid"
              entry_number:
                anyOf:
                  - type: "integer"
                  - type: "null"
              date:
                type: "string"
                format: "date"
              description:
                type: "string"
              reference:
                anyOf:
                  - type: "string"
                  - type: "null"
              source_type:
                anyOf:
                  - type: "string"
                  - type: "null"
              source_id:
                anyOf:
                  - type: "string"
                    format: "uuid"
                  - type: "null"
              currency:
                type: "string"
              exchange_rate:
                anyOf:
                  - type: "number"
                  - type: "null"
              created_at:
                type: "string"
                format: "date-time"
              updated_at:
                type: "string"
                format: "date-time"
              lines:
                type: "array"
                items:
                  $ref: "#/components/schemas/ApiSharedObject5785340ece"
            required:
              - "object"
              - "id"
              - "entry_number"
              - "date"
              - "description"
              - "reference"
              - "source_type"
              - "source_id"
              - "currency"
              - "exchange_rate"
              - "created_at"
              - "updated_at"
              - "lines"
            additionalProperties: false
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "request_id"
        - "object"
        - "url"
        - "data"
        - "has_more"
        - "next_cursor"
      additionalProperties: false
    ApiAccountLedgerLine:
      type: "object"
      properties:
        object:
          type: "string"
          const: "account_ledger_line"
        id:
          type: "string"
          format: "uuid"
        date:
          type: "string"
          format: "date"
        journal_entry_id:
          type: "string"
          format: "uuid"
        account_id:
          type: "string"
          format: "uuid"
        source_type:
          anyOf:
            - type: "string"
            - type: "null"
        source_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        description:
          type: "string"
        reference:
          anyOf:
            - type: "string"
            - type: "null"
        counterparty_name:
          anyOf:
            - type: "string"
            - type: "null"
        contact_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center1_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center2_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        cost_center3_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        debit:
          type: "integer"
        credit:
          type: "integer"
        currency:
          type: "string"
        balance:
          type: "integer"
      required:
        - "object"
        - "id"
        - "date"
        - "journal_entry_id"
        - "account_id"
        - "source_type"
        - "source_id"
        - "description"
        - "reference"
        - "counterparty_name"
        - "contact_id"
        - "cost_center1_id"
        - "cost_center2_id"
        - "cost_center3_id"
        - "debit"
        - "credit"
        - "currency"
        - "balance"
      additionalProperties: false
    ApiAccountLedger:
      type: "object"
      properties:
        object:
          type: "string"
          const: "account_ledger"
        account:
          $ref: "#/components/schemas/ApiSharedObject6f6a8f3873"
        opening_balance:
          type: "integer"
        currency:
          type: "string"
        lines:
          type: "array"
          items:
            $ref: "#/components/schemas/ApiSharedObject263c44dc2c"
        closing_balance:
          type: "integer"
        has_more:
          type: "boolean"
        next_cursor:
          anyOf:
            - type: "string"
            - type: "null"
      required:
        - "object"
        - "account"
        - "opening_balance"
        - "currency"
        - "lines"
        - "closing_balance"
        - "has_more"
        - "next_cursor"
      additionalProperties: false
    ApiAccountLedgerResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            object:
              type: "string"
              const: "account_ledger"
            account:
              $ref: "#/components/schemas/ApiSharedObject6f6a8f3873"
            opening_balance:
              type: "integer"
            currency:
              type: "string"
            lines:
              type: "array"
              items:
                $ref: "#/components/schemas/ApiSharedObject263c44dc2c"
            closing_balance:
              type: "integer"
            has_more:
              type: "boolean"
            next_cursor:
              anyOf:
                - type: "string"
                - type: "null"
          required:
            - "object"
            - "account"
            - "opening_balance"
            - "currency"
            - "lines"
            - "closing_balance"
            - "has_more"
            - "next_cursor"
          additionalProperties: false
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiAccountingAccount:
      type: "object"
      properties:
        object:
          type: "string"
          const: "account"
        id:
          type: "string"
          format: "uuid"
        code:
          anyOf:
            - type: "string"
            - type: "null"
        name:
          type: "string"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        type:
          $ref: "#/components/schemas/ApiSharedEnum5433445ffc"
        normal_balance:
          $ref: "#/components/schemas/ApiSharedEnum1d20f1f7e9"
        system_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum87e38e3147"
            - type: "null"
        is_active:
          type: "boolean"
        is_postable:
          type: "boolean"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        income_statement_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnuma6084829bf"
            - type: "null"
        is_inflation_adjustable:
          type: "boolean"
      required:
        - "object"
        - "id"
        - "code"
        - "name"
        - "description"
        - "type"
        - "normal_balance"
        - "system_role"
        - "is_active"
        - "is_postable"
        - "parent_id"
        - "income_statement_category"
        - "is_inflation_adjustable"
      additionalProperties: false
    ApiAccountingAccountCreateRequest:
      type: "object"
      properties:
        name:
          type: "string"
        code:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        type:
          $ref: "#/components/schemas/ApiSharedEnum5433445ffc"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        is_postable:
          type: "boolean"
        is_active:
          type: "boolean"
        income_statement_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnuma6084829bf"
            - type: "null"
        system_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum87e38e3147"
            - type: "null"
        is_inflation_adjustable:
          type: "boolean"
      required:
        - "name"
        - "type"
        - "parent_id"
        - "is_postable"
        - "is_active"
      additionalProperties: false
    ApiAccountingAccountPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        code:
          anyOf:
            - type: "string"
            - type: "null"
        description:
          anyOf:
            - type: "string"
            - type: "null"
        type:
          $ref: "#/components/schemas/ApiSharedEnum5433445ffc"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        is_postable:
          type: "boolean"
        is_active:
          type: "boolean"
        income_statement_category:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnuma6084829bf"
            - type: "null"
        system_role:
          anyOf:
            - $ref: "#/components/schemas/ApiSharedEnum87e38e3147"
            - type: "null"
        is_inflation_adjustable:
          type: "boolean"
      additionalProperties: false
    ApiAccountingAccountWriteResponse:
      type: "object"
      properties:
        request_id:
          type: "string"
        data:
          type: "object"
          properties:
            object:
              type: "string"
              const: "account"
            id:
              type: "string"
              format: "uuid"
            code:
              anyOf:
                - type: "string"
                - type: "null"
            name:
              type: "string"
            description:
              anyOf:
                - type: "string"
                - type: "null"
            type:
              $ref: "#/components/schemas/ApiSharedEnum5433445ffc"
            normal_balance:
              $ref: "#/components/schemas/ApiSharedEnum1d20f1f7e9"
            system_role:
              anyOf:
                - $ref: "#/components/schemas/ApiSharedEnum87e38e3147"
                - type: "null"
            is_active:
              type: "boolean"
            is_postable:
              type: "boolean"
            parent_id:
              anyOf:
                - type: "string"
                  format: "uuid"
                - type: "null"
            income_statement_category:
              anyOf:
                - $ref: "#/components/schemas/ApiSharedEnuma6084829bf"
                - type: "null"
            is_inflation_adjustable:
              type: "boolean"
          required:
            - "object"
            - "id"
            - "code"
            - "name"
            - "description"
            - "type"
            - "normal_balance"
            - "system_role"
            - "is_active"
            - "is_postable"
            - "parent_id"
            - "income_statement_category"
            - "is_inflation_adjustable"
          additionalProperties: false
      required:
        - "request_id"
        - "data"
      additionalProperties: false
    ApiCostCenterDimension:
      type: "object"
      properties:
        object:
          type: "string"
          const: "cost_center_dimension"
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        position:
          type: "integer"
          minimum: 1
          maximum: 3
        is_active:
          type: "boolean"
        is_required:
          type: "boolean"
        show_in_sales:
          type: "boolean"
      required:
        - "object"
        - "id"
        - "name"
        - "position"
        - "is_active"
        - "is_required"
        - "show_in_sales"
      additionalProperties: false
    ApiCostCenter:
      type: "object"
      properties:
        object:
          type: "string"
          const: "cost_center"
        id:
          type: "string"
          format: "uuid"
        dimension_id:
          type: "string"
          format: "uuid"
        dimension_name:
          type: "string"
        dimension_position:
          type: "integer"
          minimum: 1
          maximum: 3
        code:
          anyOf:
            - type: "string"
            - type: "null"
        name:
          type: "string"
        parent_id:
          anyOf:
            - type: "string"
              format: "uuid"
            - type: "null"
        is_active:
          type: "boolean"
      required:
        - "object"
        - "id"
        - "dimension_id"
        - "dimension_name"
        - "dimension_position"
        - "code"
        - "name"
        - "parent_id"
        - "is_active"
      additionalProperties: false
    ApiManualJournalEntryRequest:
      type: "object"
      properties:
        occurred_at:
          type: "string"
          format: "date"
        description:
          type: "string"
        reference:
          anyOf:
            - type: "string"
            - type: "null"
        exchange_rate:
          anyOf:
            - type: "number"
            - type: "null"
        expected_updated_at:
[...]
